In [1]:
import pandas as pd
import re

pd.options.display.float_format = '{:.0f}'.format

### 1. 꼭 read_csv 21상반기, 19하반기와 같이 맞추어 주세요!!! 또한 지역(전라북도, 남도) 맞추기!!!!!

In [2]:
df = pd.read_csv('강원도_계약종별_전력사용량_월별_12상반기.csv' , encoding='cp949')

df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"시도 : 강원도, 시군구 : 전체(시 / 군 / 구)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기간 : 2012년 01 월 ~ 2012년 06월,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201201,강원도,전체(시 / 군 / 구),주택용,"507,057","181,710,905","23,478,724,174",129.2
4,201201,강원도,전체(시 / 군 / 구),일반용,"118,121","393,935,328","43,701,800,435",110.9
...,...,...,...,...,...,...,...,...
907,201206,강원도,횡성군,산업용,512,"11,650,068","1,095,392,298",94
908,201206,강원도,횡성군,심 야,"6,615","5,071,321","235,695,238",46.5
909,201206,강원도,횡성군,일반용,"3,995","7,187,470","782,128,225",108.8
910,201206,강원도,횡성군,주택용,"18,986","4,116,054","441,079,383",107.2
911,201206,강원도,횡성군,합계,"42,581","31,963,793","2,809,437,997",87.9

In [3]:
df = df.drop([0,1 , 46] , axis = 0)
#0,1 , 10은 지우는게 맞다
df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201201,강원도,전체(시 / 군 / 구),주택용,"507,057","181,710,905","23,478,724,174",129.2
4,201201,강원도,전체(시 / 군 / 구),일반용,"118,121","393,935,328","43,701,800,435",110.9
5,201201,강원도,전체(시 / 군 / 구),교육용,"1,540","31,777,612","3,265,573,414",102.8
6,201201,강원도,전체(시 / 군 / 구),산업용,"11,259","581,408,142","55,187,040,829",94.9
...,...,...,...,...,...,...,...,...
907,201206,강원도,횡성군,산업용,512,"11,650,068","1,095,392,298",94
908,201206,강원도,횡성군,심 야,"6,615","5,071,321","235,695,238",46.5
909,201206,강원도,횡성군,일반용,"3,995","7,187,470","782,128,225",108.8
910,201206,강원도,횡성군,주택용,"18,986","4,116,054","441,079,383",107.2
911,201206,강원도,횡성군,합계,"42,581","31,963,793","2,809,437,997",87.9

In [4]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [5]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201201,강원도,전체(시 / 군 / 구),주택용,"507,057","181,710,905","23,478,724,174",129.2
4,201201,강원도,전체(시 / 군 / 구),일반용,"118,121","393,935,328","43,701,800,435",110.9
5,201201,강원도,전체(시 / 군 / 구),교육용,"1,540","31,777,612","3,265,573,414",102.8
6,201201,강원도,전체(시 / 군 / 구),산업용,"11,259","581,408,142","55,187,040,829",94.9
7,201201,강원도,전체(시 / 군 / 구),농사용,"65,193","36,105,700","1,610,830,555",44.6
...,...,...,...,...,...,...,...,...
907,201206,강원도,횡성군,산업용,512,"11,650,068","1,095,392,298",94
908,201206,강원도,횡성군,심 야,"6,615","5,071,321","235,695,238",46.5
909,201206,강원도,횡성군,일반용,"3,995","7,187,470","782,128,225",108.8
910,201206,강원도,횡성군,주택용,"18,986","4,116,054","441,079,383",107.2
911,201206,강원도,횡성군,합계,"42,581","31,963,793","2,809,437,997",87.9

In [6]:
df_2 = df.loc[:45]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201201,강원도,전체(시 / 군 / 구),주택용,"507,057","181,710,905","23,478,724,174",129.2
4,201201,강원도,전체(시 / 군 / 구),일반용,"118,121","393,935,328","43,701,800,435",110.9
5,201201,강원도,전체(시 / 군 / 구),교육용,"1,540","31,777,612","3,265,573,414",102.8
6,201201,강원도,전체(시 / 군 / 구),산업용,"11,259","581,408,142","55,187,040,829",94.9
7,201201,강원도,전체(시 / 군 / 구),농사용,"65,193","36,105,700","1,610,830,555",44.6
8,201201,강원도,전체(시 / 군 / 구),가로등,"88,093","16,284,421","1,462,579,337",89.8
9,201201,강원도,전체(시 / 군 / 구),심 야,"97,060","354,402,984","22,859,854,094",64.5
10,201202,강원도,전체(시 / 군 / 구),주택용,"506,645","183,887,448","24,063,667,910",130.9
11,201202,강원도,전체(시 / 군 / 구),일반용,"118,756","380,390,372","43,491,008,041",114.3
12,201202,강원도,전체(시 / 군 / 구),교육용,"1,541","29,958,084","3,185,361,617",106.3
13,201202,강원도,전체(시 / 군 / 구),산업용,"11,258","537,959,873","53,040,030,542",98.6
14,201202,강원도,전체(시 / 군 / 구),농사용,"65,176","37,079,696","1,651,201,516",44.5
15,201202,강원도,전체(시 / 군 / 구),가로등,"88,331","15,650,134","1,462,281,408",93.4
16,201202,강원도,전체(시 / 군 / 구),심 야,"97,045","361,172,341","23,287,034,141",64.5
17,201203,강원도,전체(시 / 군 / 구),주택용,"507,036","165,417,318","19,326,785,961",116.8
18,201203,강원도,전체(시 / 군 / 구),일반용,"118,828","325,480,053","34,588,423,108",106.3
19,201203,강원도,전체(시 / 군 / 구),교육용,"1,543","29,738,692","2,851,395,594",95.9
20,201203,강원도,전체(시 / 군 / 구),산업용,"11,271","614,494,922","48,282,035,458",78.6
21,201203,강원도,전체(시 / 군 / 구),농사용,"88,005","34,953,679","1,570,654,493",44.9
22,201203,강원도,전체(시 / 군 / 구),가로등,"88,438","14,827,596","1,495,070,728",100.8
23,201203,강원도,전체(시 / 군 / 구),심 야,"97,005","287,015,826","16,502,787,950",57.5
24,201204,강원도,전체(시 / 군 / 구),주택용,"507,443","167,439,497","19,614,726,230",117.1
25,201204,강원도,전체(시 / 군 / 구),일반용,"119,314","298,915,849","29,469,258,321",98.6
26,201204,강원도,전체(시 / 군 / 구),교육용,"1,539","28,387,919","2,503,181,086",88.2
27,201204,강원도,전체(시 / 군 / 구),산업용,"11,282","602,629,232","46,754,679,507",77.6
28,201204,강원도,전체(시 / 군 / 구),농사용,"66,002","32,445,801","1,477,797,471",45.5
29,201204,강원도,전체(시 / 군 / 구),가로등,"88,596","14,660,213","1,443,687,452",98.5
30,201204,강원도,전체(시 / 군 / 구),심 야,"96,880","238,400,841","11,151,120,103",46.8
31,201205,강원도,전체(시 / 군 / 구),주택용,"507,754","152,061,588","16,274,622,866",107.0
32,201205,강원도,전체(시 / 군 / 구),일반용,"119,655","264,209,735","27,324,730,945",103.4
33,201205,강원도,전체(시 / 군 / 구),교육용,"1,531","19,213,284","2,000,127,329",104.1
34,201205,강원도,전체(시 / 군 / 구),산업용,"11,329","623,123,684","49,511,573,284",79.5
35,201205,강원도,전체(시 / 군 / 구),농사용,"66,736","28,290,097","1,320,243,346",46.7
36,201205,강원도,전체(시 / 군 / 구),가로등,"88,868","13,704,971","1,391,950,275",101.6
37,201205,강원도,전체(시 / 군 / 구),심 야,"96,795","129,989,571","6,080,486,596",46.8
38,201206,강원도,전체(시 / 군 / 구),주택용,"508,421","151,143,915","16,084,066,371",106.4
39,201206,강원도,전체(시 / 군 / 구),일반용,"120,075","271,076,322","27,478,361,557",101.4
40,201206,강원도,전체(시 / 군 / 구),교육용,"1,529","18,273,428","1,955,075,758",107.0
41,201206,강원도,전체(시 / 군 / 구),산업용,"11,364","623,503,577","50,719,881,243",81.3
42,201206,강원도,전체(시 / 군 / 구),농사용,"67,743","30,949,460","1,380,413,919",44.6
43,201206,강원도,전체(시 / 군 / 구),가로등,"89,235","13,034,711","1,364,651,233",104.7
44,201206,강원도,전체(시 / 군 / 구),심 야,"96,705","78,388,911","3,678,062,301",46.9
45,합계,합계,합계,합계,"5,367,997","8,413,493,732","745,342,838,498",88.6

In [7]:
GyeonGi  = df_2.loc[(df_2['계약구분'] == '일반용')]
#SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
GyeonGi

C:\Users\user\AppData\Local\Temp\ipykernel_7480\3551721261.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

        년월   시구 계약구분   고객호수(호)      사용량(kWh)
4   201201  강원도  일반용  118,121   393,935,328
11  201202  강원도  일반용  118,756   380,390,372
18  201203  강원도  일반용  118,828   325,480,053
25  201204  강원도  일반용  119,314   298,915,849
32  201205  강원도  일반용  119,655   264,209,735
39  201206  강원도  일반용  120,075   271,076,322

In [8]:
df_3 = df.loc[48:]
df_3 = df_3.loc[(df_3['계약구분'] == '일반용')]
df_3 = df_3.sort_values(by=['시군구' , '년월'])
df_3.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_3

         년월   시구  시군구 계약구분  고객호수(호)     사용량(kWh)
53   201201  강원도  강릉시  일반용  15,817   43,600,925
197  201202  강원도  강릉시  일반용  15,908   43,385,435
341  201203  강원도  강릉시  일반용  15,948   39,233,079
485  201204  강원도  강릉시  일반용  16,038   36,768,763
629  201205  강원도  강릉시  일반용  16,047   32,219,716
..      ...  ...  ...  ...      ...          ...
333  201202  강원도  횡성군  일반용   3,972   11,294,392
477  201203  강원도  횡성군  일반용   3,969    9,348,124
621  201204  강원도  횡성군  일반용   3,967    7,937,749
765  201205  강원도  횡성군  일반용   3,984    6,986,071
909  201206  강원도  횡성군  일반용   3,995    7,187,470

[108 rows x 6 columns]

In [9]:
SIGUNGU = list(set(df_3.loc[: , '시군구'].tolist()))
SIGUNGU.sort()
SIGUNGU

['강릉시',
 '고성군',
 '동해시',
 '삼척시',
 '속초시',
 '양구군',
 '양양군',
 '영월군',
 '원주시',
 '인제군',
 '정선군',
 '철원군',
 '춘천시',
 '태백시',
 '평창군',
 '홍천군',
 '화천군',
 '횡성군']

In [10]:
Time = df_3['년월']
Time.reset_index(drop=True , inplace = True)
Time

0      201201
1      201202
2      201203
3      201204
4      201205
        ...
103    201202
104    201203
105    201204
106    201205
107    201206
Name: 년월, Length: 108, dtype: object

In [11]:
a = df_3.loc[: , "시구"]
b = a[:1].tolist()
for i in b:
    City = i
City

'강원도'

In [12]:
df_4 = df.loc[48:]
df_4 = df_4.loc[(df_4['계약구분'] == '합계')]
df_4 = df_4.sort_values(by=['시군구' , '년월'])
df_4.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_4

         년월   시구  시군구 계약구분   고객호수(호)      사용량(kWh)
55   201201  강원도  강릉시   합계  115,156   178,003,754
199  201202  강원도  강릉시   합계  115,296   175,989,804
343  201203  강원도  강릉시   합계  115,761   174,353,850
487  201204  강원도  강릉시   합계  115,615   170,257,323
631  201205  강원도  강릉시   합계  115,733   158,449,074
..      ...  ...  ...  ...       ...           ...
335  201202  강원도  횡성군   합계   42,192    60,212,523
479  201203  강원도  횡성군   합계   44,220    51,647,191
623  201204  강원도  횡성군   합계   42,339    45,526,205
767  201205  강원도  횡성군   합계   42,409    35,349,184
911  201206  강원도  횡성군   합계   42,581    31,963,793

[108 rows x 6 columns]

In [13]:
a = (df_3.columns).tolist()

a

['년월', '시구', '시군구', '계약구분', '고객호수(호)', '사용량(kWh)']

In [14]:
df_3

         년월   시구  시군구 계약구분  고객호수(호)     사용량(kWh)
53   201201  강원도  강릉시  일반용  15,817   43,600,925
197  201202  강원도  강릉시  일반용  15,908   43,385,435
341  201203  강원도  강릉시  일반용  15,948   39,233,079
485  201204  강원도  강릉시  일반용  16,038   36,768,763
629  201205  강원도  강릉시  일반용  16,047   32,219,716
..      ...  ...  ...  ...      ...          ...
333  201202  강원도  횡성군  일반용   3,972   11,294,392
477  201203  강원도  횡성군  일반용   3,969    9,348,124
621  201204  강원도  횡성군  일반용   3,967    7,937,749
765  201205  강원도  횡성군  일반용   3,984    6,986,071
909  201206  강원도  횡성군  일반용   3,995    7,187,470

[108 rows x 6 columns]

In [15]:

df_5 = pd.concat([df_4 , df_3])
df_5 = df_5.sort_values(by=['시군구' , '년월' , '계약구분'])
df_5

         년월   시구  시군구 계약구분   고객호수(호)      사용량(kWh)
53   201201  강원도  강릉시  일반용   15,817    43,600,925
55   201201  강원도  강릉시   합계  115,156   178,003,754
197  201202  강원도  강릉시  일반용   15,908    43,385,435
199  201202  강원도  강릉시   합계  115,296   175,989,804
341  201203  강원도  강릉시  일반용   15,948    39,233,079
..      ...  ...  ...  ...       ...           ...
623  201204  강원도  횡성군   합계   42,339    45,526,205
765  201205  강원도  횡성군  일반용    3,984     6,986,071
767  201205  강원도  횡성군   합계   42,409    35,349,184
909  201206  강원도  횡성군  일반용    3,995     7,187,470
911  201206  강원도  횡성군   합계   42,581    31,963,793

[216 rows x 6 columns]

In [16]:
df_3 ##일반용

         년월   시구  시군구 계약구분  고객호수(호)     사용량(kWh)
53   201201  강원도  강릉시  일반용  15,817   43,600,925
197  201202  강원도  강릉시  일반용  15,908   43,385,435
341  201203  강원도  강릉시  일반용  15,948   39,233,079
485  201204  강원도  강릉시  일반용  16,038   36,768,763
629  201205  강원도  강릉시  일반용  16,047   32,219,716
..      ...  ...  ...  ...      ...          ...
333  201202  강원도  횡성군  일반용   3,972   11,294,392
477  201203  강원도  횡성군  일반용   3,969    9,348,124
621  201204  강원도  횡성군  일반용   3,967    7,937,749
765  201205  강원도  횡성군  일반용   3,984    6,986,071
909  201206  강원도  횡성군  일반용   3,995    7,187,470

[108 rows x 6 columns]

In [17]:
df_4 ## 합계

         년월   시구  시군구 계약구분   고객호수(호)      사용량(kWh)
55   201201  강원도  강릉시   합계  115,156   178,003,754
199  201202  강원도  강릉시   합계  115,296   175,989,804
343  201203  강원도  강릉시   합계  115,761   174,353,850
487  201204  강원도  강릉시   합계  115,615   170,257,323
631  201205  강원도  강릉시   합계  115,733   158,449,074
..      ...  ...  ...  ...       ...           ...
335  201202  강원도  횡성군   합계   42,192    60,212,523
479  201203  강원도  횡성군   합계   44,220    51,647,191
623  201204  강원도  횡성군   합계   42,339    45,526,205
767  201205  강원도  횡성군   합계   42,409    35,349,184
911  201206  강원도  횡성군   합계   42,581    31,963,793

[108 rows x 6 columns]

In [18]:
#sum2 , sum3 =[] , []
rate = []
for k in SIGUNGU:
    Hap = pd.DataFrame([] , columns = a)
    Hap2 = pd.DataFrame([] , columns = a)

    Hap['사용량_일반용']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{}'.format(k))]
    Hap2['사용량_합계']= df_4['사용량(kWh)'].loc[(df_4['시군구'] == '{}'.format(k))]

    b = Hap['사용량_일반용'].tolist()

    c = Hap2['사용량_합계'].tolist()

    int_list , int_list2 = [] , []
    for i in b:
         i = re.sub("," , "" , i)
         #콤마 없애기
         int_list.append(int(i))

    for i in c:
         i = re.sub("," , "" , i)
         int_list2.append(int(i))



    for i in range(len(int_list)):
        rate2 = 0
        rate2 = int_list[i] / int_list2[i] *100
        rate.append(rate2)
print(rate)

print(len(rate))

#print("{} 지역별 합계 : ".format(City) , sum2)
#print("{} 고객호수 평균: ".format(City) , sum3)

[24.494385101563644, 24.65224349019674, 22.501986047339937, 21.595995022193552, 20.334429975905067, 21.041095495344212, 35.146080693327534, 34.80900429281341, 34.94710970609061, 34.69024747042886, 38.227317911663185, 40.99295600675552, 6.628880150948873, 6.943874149728425, 6.109135662582969, 5.928153660640708, 5.042558177771751, 5.182421185464581, 11.777685176614744, 13.525073770775068, 10.882187046464045, 10.124383217066363, 9.799447087519814, 9.878989929017473, 46.76039009696476, 46.16696122173153, 45.945790651485574, 45.46647812244964, 48.29393837914842, 50.91041408819525, 42.460283757437686, 31.231895557491608, 31.305493823184683, 32.18902299274751, 35.645191406169516, 39.97381680525612, 38.105548098219174, 38.01663130271384, 39.324056398581206, 39.115926198482654, 42.3924001300093, 45.0252624511146, 8.809527322749824, 10.777498713639842, 6.384749944909801, 6.39514579051677, 5.747710303168971, 6.258392737290916, 28.07539057695141, 27.63197634811046, 26.57774392985745, 27.093148714528997, 28.213819206293334, 30.973548929717726, 36.73742538544515, 35.37650181166858, 35.998061154596215, 36.62976045158467, 40.72398645254613, 45.488865213242605, 33.33449000846591, 32.111193170606725, 29.082591070684867, 26.288954760880905, 27.579412783436503, 27.844761864553952, 29.07097432692386, 28.280816459448904, 28.429817568631254, 28.525160914191787, 30.030257863518006, 33.30082040465659, 35.6696794294835, 35.7165163707607, 34.93481313363619, 34.86661710160644, 38.19113530237738, 42.30750505770312, 28.797970289668267, 27.816858030458924, 26.080280167036403, 26.235386630344166, 25.91373509789447, 26.10266588203744, 36.45138490222783, 33.87539746207588, 32.063849858543264, 30.499366975525362, 35.94660345174117, 39.89198144933635, 29.475365158808632, 28.365191394596394, 27.318361723612828, 27.169554799321332, 32.60979856745813, 35.746349289937925, 39.955172536707906, 39.92325446414645, 39.44826189588822, 40.42787147441116, 44.00952678722723, 48.17648195323312, 19.60343040126728, 18.757546499089568, 18.099965978788664, 17.435560464572, 19.763033285294508, 22.486286280229635]
108

In [19]:
df_5

         년월   시구  시군구 계약구분   고객호수(호)      사용량(kWh)
53   201201  강원도  강릉시  일반용   15,817    43,600,925
55   201201  강원도  강릉시   합계  115,156   178,003,754
197  201202  강원도  강릉시  일반용   15,908    43,385,435
199  201202  강원도  강릉시   합계  115,296   175,989,804
341  201203  강원도  강릉시  일반용   15,948    39,233,079
..      ...  ...  ...  ...       ...           ...
623  201204  강원도  횡성군   합계   42,339    45,526,205
765  201205  강원도  횡성군  일반용    3,984     6,986,071
767  201205  강원도  횡성군   합계   42,409    35,349,184
909  201206  강원도  횡성군  일반용    3,995     7,187,470
911  201206  강원도  횡성군   합계   42,581    31,963,793

[216 rows x 6 columns]

In [20]:
Rate = []
ilban = []
SIGUNGU_2 = df_4['시군구']
SIGUNGU_2.reset_index(drop=True , inplace = True)
SIGUNGU_2
#date = df_5.loc['년월']
#print(date)
# rae = 0
# for i in range(len(ex)):
#     rae = round(ex[i] / ex_2[i] *100 ,2)
#     Rate.append(rae)
# print(Rate)

0      강릉시
1      강릉시
2      강릉시
3      강릉시
4      강릉시
      ...
103    횡성군
104    횡성군
105    횡성군
106    횡성군
107    횡성군
Name: 시군구, Length: 108, dtype: object

In [21]:
Rate3 = pd.DataFrame(rate)
Rate3['비율'] = Rate3.iloc[:]
Rate3.drop(Rate3.columns[0] , axis=1 , inplace=True)
Rate3

     비율
0    24
1    25
2    23
3    22
4    20
..   ..
103  19
104  18
105  17
106  20
107  22

[108 rows x 1 columns]

In [22]:
Time

0      201201
1      201202
2      201203
3      201204
4      201205
        ...
103    201202
104    201203
105    201204
106    201205
107    201206
Name: 년월, Length: 108, dtype: object

In [23]:
for j in range(len(Rate3)):
    ilban.append('일반용')

Rate4 = pd.concat([Time , SIGUNGU_2 , Rate3] ,axis=1)
Rate4['계약구분'] = pd.DataFrame(ilban)
#Rate4 = Rate4.rename(columns={'0':'일반용 비율'})
Rate4 = Rate4[['년월' , '시군구' , '계약구분' , '비율']]
Rate4
# Final = pd.concat([Final , Rate3])
# Final

         년월  시군구 계약구분  비율
0    201201  강릉시  일반용  24
1    201202  강릉시  일반용  25
2    201203  강릉시  일반용  23
3    201204  강릉시  일반용  22
4    201205  강릉시  일반용  20
..      ...  ...  ...  ..
103  201202  횡성군  일반용  19
104  201203  횡성군  일반용  18
105  201204  횡성군  일반용  17
106  201205  횡성군  일반용  20
107  201206  횡성군  일반용  22

[108 rows x 4 columns]

In [24]:
Final = pd.merge(df_5 , Rate4, on=['년월' , '시군구', '계약구분'] , how='left')

#Final.drop(['비율_y]' , axis = 1 , inplace = True)
#Final.rename(columns={'비율_y':'전체 계약종별 전력사용량 대비 일반용 사용량 비율'})
Final = Final.sort_values(['시군구' , '계약구분'])
Final.reset_index(drop=True , inplace = True)
Final

         년월   시구  시군구 계약구분  고객호수(호)     사용량(kWh)  비율
0    201201  강원도  강릉시  일반용  15,817   43,600,925   24
1    201202  강원도  강릉시  일반용  15,908   43,385,435   25
2    201203  강원도  강릉시  일반용  15,948   39,233,079   23
3    201204  강원도  강릉시  일반용  16,038   36,768,763   22
4    201205  강원도  강릉시  일반용  16,047   32,219,716   20
..      ...  ...  ...  ...      ...          ...  ..
211  201202  강원도  횡성군   합계  42,192   60,212,523  NaN
212  201203  강원도  횡성군   합계  44,220   51,647,191  NaN
213  201204  강원도  횡성군   합계  42,339   45,526,205  NaN
214  201205  강원도  횡성군   합계  42,409   35,349,184  NaN
215  201206  강원도  횡성군   합계  42,581   31,963,793  NaN

[216 rows x 7 columns]

### 2. 날짜 체크!!!!!!!!!!!!!!!!!!!!1

In [25]:
Final.to_csv("{}_일반용_전력사용량_1201-06_월별.csv".format(City) , mode = 'w' , encoding= 'cp949' , index =False) #파일명 수정