In [1]:
import pandas as pd


pd.options.display.float_format = '{:.0f}'.format

In [35]:
df = pd.read_csv('계약종별_전력사용량_월별_20220803.csv' , encoding='cp949')


exchng=  pd.read_csv('지역별_전력거래량_20220803093050.csv' , encoding='cp949')

In [36]:
df = df.drop([0,1 , 39] , axis = 0)

In [37]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [38]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,202201,전체(시도),전체(시 / 군 / 구),주택용,"15,737,787","7,092,815,490","844,730,080,922",119.1
4,202201,전체(시도),전체(시 / 군 / 구),일반용,"3,373,949","11,518,841,629","1,545,238,430,754",134.1
5,202201,전체(시도),전체(시 / 군 / 구),교육용,"20,996","1,017,613,102","99,652,769,614",97.9
6,202201,전체(시도),전체(시 / 군 / 구),산업용,"434,515","26,069,752,354","2,965,453,569,848",113.8
7,202201,전체(시도),전체(시 / 군 / 구),농사용,"1,976,665","2,157,527,601","103,974,118,145",48.2
...,...,...,...,...,...,...,...,...
730,202205,충청북도,전체,일반용,"132,291","275,561,839","35,426,326,300",128.6
731,202205,충청북도,전체,주택용,"638,999","178,536,605","20,600,049,361",115.4
732,202205,충청북도,전체,합계,"1,137,204","2,276,641,282","234,127,600,595",102.8
733,202205,황해북도,전체,주택용,1,0,0,0
734,202205,황해북도,전체,합계,1,0,0,0

In [40]:
df_2 = df.loc[:38]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,202201,전체(시도),전체(시 / 군 / 구),주택용,"15,737,787","7,092,815,490","844,730,080,922",119.1
4,202201,전체(시도),전체(시 / 군 / 구),일반용,"3,373,949","11,518,841,629","1,545,238,430,754",134.1
5,202201,전체(시도),전체(시 / 군 / 구),교육용,"20,996","1,017,613,102","99,652,769,614",97.9
6,202201,전체(시도),전체(시 / 군 / 구),산업용,"434,515","26,069,752,354","2,965,453,569,848",113.8
7,202201,전체(시도),전체(시 / 군 / 구),농사용,"1,976,665","2,157,527,601","103,974,118,145",48.2
8,202201,전체(시도),전체(시 / 군 / 구),가로등,"2,214,680","328,875,859","35,536,816,330",108.1
9,202201,전체(시도),전체(시 / 군 / 구),심 야,"721,855","1,616,792,652","121,807,547,231",75.3
10,202202,전체(시도),전체(시 / 군 / 구),주택용,"15,741,080","7,060,528,652","839,720,703,665",118.9
11,202202,전체(시도),전체(시 / 군 / 구),일반용,"3,380,096","11,732,996,163","1,545,714,849,864",131.7
12,202202,전체(시도),전체(시 / 군 / 구),교육용,"21,011","868,413,314","88,040,677,112",101.4
13,202202,전체(시도),전체(시 / 군 / 구),산업용,"434,767","23,735,957,208","2,740,383,913,802",115.5
14,202202,전체(시도),전체(시 / 군 / 구),농사용,"1,977,121","2,181,944,493","105,045,194,442",48.1
15,202202,전체(시도),전체(시 / 군 / 구),가로등,"2,218,550","310,203,708","35,110,721,318",113.2
16,202202,전체(시도),전체(시 / 군 / 구),심 야,"719,631","1,651,427,730","124,376,112,865",75.3
17,202203,전체(시도),전체(시 / 군 / 구),주택용,"15,747,870","6,223,157,413","680,388,923,307",109.3
18,202203,전체(시도),전체(시 / 군 / 구),일반용,"3,385,728","10,164,688,166","1,246,201,267,239",122.6
19,202203,전체(시도),전체(시 / 군 / 구),교육용,"21,007","828,257,212","81,574,937,353",98.5
20,202203,전체(시도),전체(시 / 군 / 구),산업용,"434,864","25,171,140,819","2,395,279,397,203",95.2
21,202203,전체(시도),전체(시 / 군 / 구),농사용,"2,528,525","1,872,358,280","91,335,155,230",48.8
22,202203,전체(시도),전체(시 / 군 / 구),가로등,"2,221,968","286,558,649","32,758,449,449",114.3
23,202203,전체(시도),전체(시 / 군 / 구),심 야,"717,845","1,290,645,844","86,340,984,819",66.9
24,202204,전체(시도),전체(시 / 군 / 구),주택용,"15,757,790","6,285,886,096","709,902,706,172",112.9
25,202204,전체(시도),전체(시 / 군 / 구),일반용,"3,395,530","9,389,482,294","1,120,872,761,982",119.4
26,202204,전체(시도),전체(시 / 군 / 구),교육용,"20,981","710,421,572","67,961,237,807",95.7
27,202204,전체(시도),전체(시 / 군 / 구),산업용,"435,332","24,455,290,187","2,461,663,779,705",100.7
28,202204,전체(시도),전체(시 / 군 / 구),농사용,"2,076,247","1,655,504,780","86,492,415,763",52.2
29,202204,전체(시도),전체(시 / 군 / 구),가로등,"2,241,266","282,644,222","34,286,906,699",121.3
30,202204,전체(시도),전체(시 / 군 / 구),심 야,"716,163","979,051,169","56,709,216,623",57.9
31,202205,전체(시도),전체(시 / 군 / 구),주택용,"15,761,570","5,779,665,068","648,211,126,916",112.2
32,202205,전체(시도),전체(시 / 군 / 구),일반용,"3,403,431","9,001,666,664","1,119,359,481,909",124.4
33,202205,전체(시도),전체(시 / 군 / 구),교육용,"20,964","553,398,406","54,796,044,881",99.0
34,202205,전체(시도),전체(시 / 군 / 구),산업용,"435,785","24,585,743,421","2,480,253,111,401",100.9
35,202205,전체(시도),전체(시 / 군 / 구),농사용,"2,004,356","1,445,037,112","80,952,631,162",56.0
36,202205,전체(시도),전체(시 / 군 / 구),가로등,"2,251,185","264,707,512","34,123,765,901",128.9
37,202205,전체(시도),전체(시 / 군 / 구),심 야,"714,168","574,775,696","36,569,312,664",63.6
38,합계,합계,합계,합계,"123,265,278","229,143,770,537","24,800,819,120,097",108.2

In [41]:
df_2.to_csv("계약종별_전국_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [45]:
df_3 = df.loc[41:]

df_3

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
41,202201,강원도,전체,가로등,"131,784","17,414,132","1,924,962,228",110.5
42,202201,강원도,전체,교육용,"1,049","43,825,900","4,268,122,127",97.4
43,202201,강원도,전체,농사용,"121,724","68,893,777","3,489,020,497",50.6
44,202201,강원도,전체,산업용,"14,616","597,339,963","67,242,549,588",112.6
45,202201,강원도,전체,심 야,"84,713","225,803,446","16,948,913,183",75.1
...,...,...,...,...,...,...,...,...
730,202205,충청북도,전체,일반용,"132,291","275,561,839","35,426,326,300",128.6
731,202205,충청북도,전체,주택용,"638,999","178,536,605","20,600,049,361",115.4
732,202205,충청북도,전체,합계,"1,137,204","2,276,641,282","234,127,600,595",102.8
733,202205,황해북도,전체,주택용,1,0,0,0
734,202205,황해북도,전체,합계,1,0,0,0

In [52]:
Sigu = list(set(df_3['시구'].tolist()))

Sigu.sort()

Sigu

['강원도',
 '경기도',
 '경상남도',
 '경상북도',
 '광주광역시',
 '대구광역시',
 '대전광역시',
 '부산광역시',
 '서울특별시',
 '세종특별자치시',
 '울산광역시',
 '인천광역시',
 '전라남도',
 '전라북도',
 '제주특별자치도',
 '충청남도',
 '충청북도',
 '황해북도']

In [54]:
YearMonth = list(set(df_3['년월'].tolist()))

YearMonth.sort()
YearMonth

['202201', '202202', '202203', '202204', '202205']

In [55]:
Gayeak = list(set(df_3['계약구분'].tolist()))

Gayeak.sort()
Gayeak

['가로등', '교육용', '농사용', '산업용', '심 야', '일반용', '주택용', '합계']

In [66]:
Gangwon = df_3.loc[(df_3['계약구분'] =='일반용') &(df_3['시구'] =='강원도' )]
Gangwon = Gangwon.astype({'사용량(kWh)' : 'float'})
Gangwon

ValueError: could not convert string to float: '520,419,913 '

In [64]:
Gangwon['사용량(kWh)'].sum()

'520,419,913 503,901,688 415,769,457 377,426,572 348,726,563 '

In [5]:
exchng

,지역별(1),2012,2012.1,2013,2013.1,2014,2014.1,2015,2015.1,2016,...,2017,2017.1,2018,2018.1,2019 p),2019 p).1,2020 p),2020 p).1,2021 p),2021 p).1
0,지역별(1),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),...,전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%),전력거래량 (GWh),전력거래량 비율 (%)
1,전국,471795,100,479541,100,490399,100,495361,100,509234,...,520917,100,537061,100,529851,100,515983,100,537061,100
2,경기도,23567,5,28692,6,33053,6.7,47342,9.6,53907,...,58961,11.3,71010,13.2,72987,13.8,70924,13.7,80234,14.9
3,강원도,10996,2.3,11631,2.4,9463,1.9,7581,1.5,9891,...,19803,3.8,29474,5.5,26995,5.1,25593,5,27891,5.2
4,경상남도,59496,12.6,59730,12.5,56368,11.5,55843,11.3,55226,...,52652,10.1,50336,9.4,45523,8.6,32762,6.3,41109,7.7
5,경상북도,66408,14.1,65007,13.6,73023,14.9,84168,17,77891,...,79858,15.3,72015,13.4,75178,14.2,80581,15.6,75475,14.1
6,전라남도,60562,12.8,58081,12.1,63338,12.9,61013,12.3,63504,...,60694,11.7,54295,10.1,50263,9.5,51713,10,54371,10.1
7,전라북도,7720,1.6,7637,1.6,7244,1.5,5944,1.2,8783,...,8650,1.7,10367,1.9,10352,2,9871,1.9,10721,2
8,충청남도,108544,23,112811,23.5,108894,22.2,103645,20.9,104044,...,122424,23.5,120715,22.5,114874,21.7,105447,20.4,102741,19.1
9,충청북도,1253,0.3,1249,0.3,877,0.2,727,0.1,1019,...,1096,0.2,1349,0.3,1165,0.2,1551,0.3,1314,0.2
10,제주도,2870,0.6,2964,0.6,2775,0.6,2863,0.6,2935,...,2944,0.6,3215,0.6,3723,0.7,3829,0.7,4074,0.8
11,서울,1908,0.4,1603,0.3,770,0.2,742,0.1,836,...,810,0.2,616,0.1,1776,0.3,4956,1,5170,1
12,인천,68214,14.5,73208,15.3,69097,14.1,65179,13.2,62921,...,59679,11.5,59955,11.2,57443,10.8,54608,10.6,58059,10.8
13,대전,192,0,200,0,156,0,175,0,182,...,203,0,196,0,174,0,169,0,177,0
14,광주,41,0,449,0.1,396,0.1,356,0.1,381,...,413,0.1,422,0.1,429,0.1,450,0.1,461,0.1
15,대구,220,0,210,0,515,0.1,2815,0.6,3093,...,2657,0.5,2626,0.5,2835,0.5,2511,0.5,2737,0.5
16,세종,8,0,618,0.1,2689,0.5,2787,0.6,2749,...,2952,0.6,3595,0.7,2371,0.4,3425,0.7,3642,0.7
17,울산,12908,2.7,12659,2.6,9768,2,8741,1.8,11444,...,19553,3.8,19902,3.7,27826,5.3,28611,5.5,30244,5.6
18,부산,46888,9.9,42790,8.9,51972,10.6,45438,9.2,50429,...,27569,5.3,36973,6.9,35938,6.8,38982,7.6,38643,7.2