In [75]:
import pandas as pd
import re

pd.options.display.float_format = '{:.0f}'.format

### 1. 꼭 read_csv 21상반기, 19하반기와 같이 맞추어 주세요!!! 또한 지역(전라북도, 남도) 맞추기!!!!!

In [76]:
df = pd.read_csv('전라북도_계약종별_전력사용량_월별_21하반기.csv' , encoding='cp949')

df
#exchng=  pd.read_csv('지역별_전력거래량_20220803093050.csv' , encoding='cp949')

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"시도 : 전라북도, 시군구 : 전체(시 / 군 / 구)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기간 : 2021년 07 월 ~ 2021년 12월,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,202107,전라북도,전체(시 / 군 / 구),주택용,"682,974","220,696,722","22,284,723,414",101.0
4,202107,전라북도,전체(시 / 군 / 구),일반용,"145,461","329,360,343","48,419,189,168",147.0
...,...,...,...,...,...,...,...,...
715,202112,전라북도,진안군,산업용,973,"3,107,790","421,681,888",135.7
716,202112,전라북도,진안군,심 야,"1,703","2,639,426","198,524,490",75.2
717,202112,전라북도,진안군,일반용,"2,251","4,597,606","635,073,792",138.1
718,202112,전라북도,진안군,주택용,"15,603","2,648,618","314,996,614",118.9
719,202112,전라북도,진안군,합계,"33,685","20,318,535","2,015,818,896",99.2

In [77]:
df = df.drop([0,1 , 46] , axis = 0)
#0,1 , 10은 지우는게 맞다
df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,202107,전라북도,전체(시 / 군 / 구),주택용,"682,974","220,696,722","22,284,723,414",101.0
4,202107,전라북도,전체(시 / 군 / 구),일반용,"145,461","329,360,343","48,419,189,168",147.0
5,202107,전라북도,전체(시 / 군 / 구),교육용,"1,228","29,311,976","3,519,406,267",120.1
6,202107,전라북도,전체(시 / 군 / 구),산업용,"16,301","1,041,964,773","122,393,530,614",117.5
...,...,...,...,...,...,...,...,...
715,202112,전라북도,진안군,산업용,973,"3,107,790","421,681,888",135.7
716,202112,전라북도,진안군,심 야,"1,703","2,639,426","198,524,490",75.2
717,202112,전라북도,진안군,일반용,"2,251","4,597,606","635,073,792",138.1
718,202112,전라북도,진안군,주택용,"15,603","2,648,618","314,996,614",118.9
719,202112,전라북도,진안군,합계,"33,685","20,318,535","2,015,818,896",99.2

In [78]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [79]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,202107,전라북도,전체(시 / 군 / 구),주택용,"682,974","220,696,722","22,284,723,414",101.0
4,202107,전라북도,전체(시 / 군 / 구),일반용,"145,461","329,360,343","48,419,189,168",147.0
5,202107,전라북도,전체(시 / 군 / 구),교육용,"1,228","29,311,976","3,519,406,267",120.1
6,202107,전라북도,전체(시 / 군 / 구),산업용,"16,301","1,041,964,773","122,393,530,614",117.5
7,202107,전라북도,전체(시 / 군 / 구),농사용,"164,685","148,595,096","6,677,664,906",44.9
...,...,...,...,...,...,...,...,...
715,202112,전라북도,진안군,산업용,973,"3,107,790","421,681,888",135.7
716,202112,전라북도,진안군,심 야,"1,703","2,639,426","198,524,490",75.2
717,202112,전라북도,진안군,일반용,"2,251","4,597,606","635,073,792",138.1
718,202112,전라북도,진안군,주택용,"15,603","2,648,618","314,996,614",118.9
719,202112,전라북도,진안군,합계,"33,685","20,318,535","2,015,818,896",99.2

In [80]:
df_2 = df.loc[:45]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,202107,전라북도,전체(시 / 군 / 구),주택용,"682,974","220,696,722","22,284,723,414",101.0
4,202107,전라북도,전체(시 / 군 / 구),일반용,"145,461","329,360,343","48,419,189,168",147.0
5,202107,전라북도,전체(시 / 군 / 구),교육용,"1,228","29,311,976","3,519,406,267",120.1
6,202107,전라북도,전체(시 / 군 / 구),산업용,"16,301","1,041,964,773","122,393,530,614",117.5
7,202107,전라북도,전체(시 / 군 / 구),농사용,"164,685","148,595,096","6,677,664,906",44.9
8,202107,전라북도,전체(시 / 군 / 구),가로등,"159,594","14,805,297","1,777,560,472",120.1
9,202107,전라북도,전체(시 / 군 / 구),심 야,"57,534","18,728,282","1,030,116,334",55.0
10,202108,전라북도,전체(시 / 군 / 구),주택용,"683,191","293,096,179","32,710,227,833",111.6
11,202108,전라북도,전체(시 / 군 / 구),일반용,"145,785","381,865,469","53,873,153,727",141.1
12,202108,전라북도,전체(시 / 군 / 구),교육용,"1,229","27,547,015","3,452,695,714",125.3
13,202108,전라북도,전체(시 / 군 / 구),산업용,"16,313","994,663,979","110,555,951,571",111.1
14,202108,전라북도,전체(시 / 군 / 구),농사용,"165,727","194,959,649","8,432,639,723",43.3
15,202108,전라북도,전체(시 / 군 / 구),가로등,"159,884","15,763,811","1,818,967,239",115.4
16,202108,전라북도,전체(시 / 군 / 구),심 야,"57,363","15,431,946","872,956,808",56.6
17,202109,전라북도,전체(시 / 군 / 구),주택용,"683,902","238,600,327","24,197,843,761",101.4
18,202109,전라북도,전체(시 / 군 / 구),일반용,"145,976","334,549,785","43,186,287,383",129.1
19,202109,전라북도,전체(시 / 군 / 구),교육용,"1,230","27,987,209","3,015,326,179",107.7
20,202109,전라북도,전체(시 / 군 / 구),산업용,"16,323","981,138,056","89,960,074,069",91.7
21,202109,전라북도,전체(시 / 군 / 구),농사용,"166,797","176,250,901","7,869,593,560",44.6
22,202109,전라북도,전체(시 / 군 / 구),가로등,"160,212","16,044,580","1,806,678,029",112.6
23,202109,전라북도,전체(시 / 군 / 구),심 야,"57,219","16,485,560","912,848,746",55.4
24,202110,전라북도,전체(시 / 군 / 구),주택용,"684,443","203,861,481","21,740,350,143",106.6
25,202110,전라북도,전체(시 / 군 / 구),일반용,"146,068","284,838,927","33,914,652,859",119.1
26,202110,전라북도,전체(시 / 군 / 구),교육용,"1,229","24,946,335","2,401,692,883",96.3
27,202110,전라북도,전체(시 / 군 / 구),산업용,"16,353","986,508,133","89,936,001,299",91.2
28,202110,전라북도,전체(시 / 군 / 구),농사용,"167,314","141,163,163","7,037,720,973",49.9
29,202110,전라북도,전체(시 / 군 / 구),가로등,"160,655","17,315,145","1,883,313,921",108.8
30,202110,전라북도,전체(시 / 군 / 구),심 야,"57,086","20,830,437","1,172,322,144",56.3
31,202111,전라북도,전체(시 / 군 / 구),주택용,"685,200","209,063,610","22,685,167,942",108.5
32,202111,전라북도,전체(시 / 군 / 구),일반용,"146,510","292,211,091","38,644,763,475",132.2
33,202111,전라북도,전체(시 / 군 / 구),교육용,"1,228","29,229,187","3,109,356,549",106.4
34,202111,전라북도,전체(시 / 군 / 구),산업용,"16,394","946,738,898","109,962,999,324",116.1
35,202111,전라북도,전체(시 / 군 / 구),농사용,"240,363","188,105,593","8,296,590,773",44.1
36,202111,전라북도,전체(시 / 군 / 구),가로등,"160,903","18,116,574","1,929,750,570",106.5
37,202111,전라북도,전체(시 / 군 / 구),심 야,"56,967","52,604,194","3,335,059,156",63.4
38,202112,전라북도,전체(시 / 군 / 구),주택용,"685,619","219,731,384","24,026,944,393",109.3
39,202112,전라북도,전체(시 / 군 / 구),일반용,"147,151","334,618,301","47,142,895,953",140.9
40,202112,전라북도,전체(시 / 군 / 구),교육용,"1,225","40,084,805","4,102,523,093",102.3
41,202112,전라북도,전체(시 / 군 / 구),산업용,"16,392","984,197,150","114,949,714,642",116.8
42,202112,전라북도,전체(시 / 군 / 구),농사용,"204,378","183,127,330","8,422,455,451",46.0
43,202112,전라북도,전체(시 / 군 / 구),가로등,"161,061","18,602,621","1,927,820,006",103.6
44,202112,전라북도,전체(시 / 군 / 구),심 야,"56,788","83,980,804","6,252,314,650",74.4
45,합계,합계,합계,합계,"7,502,255","10,797,722,118","1,141,641,845,716",105.7

In [81]:
GyeonGi  = df_2.loc[(df_2['계약구분'] == '일반용')]
#SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
GyeonGi

C:\Users\user\AppData\Local\Temp\ipykernel_12104\3551721261.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

        년월    시구 계약구분   고객호수(호)      사용량(kWh)
4   202107  전라북도  일반용  145,461   329,360,343
11  202108  전라북도  일반용  145,785   381,865,469
18  202109  전라북도  일반용  145,976   334,549,785
25  202110  전라북도  일반용  146,068   284,838,927
32  202111  전라북도  일반용  146,510   292,211,091
39  202112  전라북도  일반용  147,151   334,618,301

In [82]:
#SEOUL1.to_csv("서울특별시_계약종별_전국_전력사용량_2022.csv" , mode = 'w' , encoding= 'cp949')

In [83]:
#df_2.to_csv("서울특별시_계약종별_전국_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [84]:
df_3 = df.loc[48:]
df_3 = df_3.loc[(df_3['계약구분'] == '일반용')]
df_3 = df_3.sort_values(by=['시군구' , '년월'])
df_3.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_3

         년월    시구  시군구 계약구분 고객호수(호)     사용량(kWh)
53   202107  전라북도  고창군  일반용  4,910    9,316,978
165  202108  전라북도  고창군  일반용  4,907   11,153,873
277  202109  전라북도  고창군  일반용  4,917   14,803,104
389  202110  전라북도  고창군  일반용  4,916    3,624,656
501  202111  전라북도  고창군  일반용  4,937    8,944,086
..      ...   ...  ...  ...     ...          ...
269  202108  전라북도  진안군  일반용  2,242    4,108,600
381  202109  전라북도  진안군  일반용  2,247    3,659,896
493  202110  전라북도  진안군  일반용  2,239    3,426,157
605  202111  전라북도  진안군  일반용  2,239    3,998,053
717  202112  전라북도  진안군  일반용  2,251    4,597,606

[84 rows x 6 columns]

In [85]:
a = df_3.loc[: , "시구"]
b = a[:1].tolist()
for i in b:
    City = i
City

'전라북도'

In [86]:

SIGUNGU = list(set(df_3.loc[: , '시군구'].tolist()))
SIGUNGU.sort()
SIGUNGU

['고창군',
 '군산시',
 '김제시',
 '남원시',
 '무주군',
 '부안군',
 '순창군',
 '완주군',
 '익산시',
 '임실군',
 '장수군',
 '전주시',
 '정읍시',
 '진안군']

In [87]:
df_4 = df.loc[48:]
df_4 = df_4.loc[(df_4['계약구분'] == '합계')]
df_4 = df_4.sort_values(by=['시군구' , '년월'])
df_4.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_4

         년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
55   202107  전라북도  고창군   합계  61,417   49,699,086
167  202108  전라북도  고창군   합계  61,510   57,037,069
279  202109  전라북도  고창군   합계  61,642   57,983,507
391  202110  전라북도  고창군   합계  61,763   43,130,634
503  202111  전라북도  고창군   합계  65,116   56,029,306
..      ...   ...  ...  ...      ...          ...
271  202108  전라북도  진안군   합계  33,275   17,106,043
383  202109  전라북도  진안군   합계  33,426   17,846,560
495  202110  전라북도  진안군   합계  33,557   15,920,100
607  202111  전라북도  진안군   합계  35,974   19,140,469
719  202112  전라북도  진안군   합계  33,685   20,318,535

[84 rows x 6 columns]

In [88]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_4['사용량(kWh)'].loc[(df_4['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_4['고객호수(호)'].loc[(df_4['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//36) #6개월 치로 나눠야하나?!




print("{} 지역별 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)

[49699086, 57037069, 57983507, 43130634, 56029306, 73565667]
[522782543, 514819985, 510663481, 506294520, 461314826, 492881888]
[88953939, 97884992, 90544868, 81552835, 97465681, 104328015]
[51057334, 59453974, 53232838, 48604775, 53144843, 63602631]
[15009018, 17145480, 16701018, 15384192, 17998823, 22621011]
[40244860, 47448009, 42785683, 37028832, 43324796, 43002185]
[22082565, 25361499, 24110586, 21675393, 25863124, 23738402]
[146898688, 158509088, 142308523, 133294134, 157519941, 159601635]
[265970425, 285992015, 261001563, 239729966, 251535380, 267730353]
[23903170, 27034331, 25979844, 23558145, 27354211, 28537773]
[13964950, 15999350, 15505600, 14753686, 19012401, 23091343]
[396246819, 435349383, 379257748, 355454538, 353385951, 384056983]
[152079499, 164186830, 153134599, 143081871, 152979395, 157265974]
[14569593, 17106043, 17846560, 15920100, 19140469, 20318535]
전라북도 지역별 합계 :  [337445269, 3008757243, 560730330, 329096395, 104859542, 253834365, 142831569, 898132009, 1571959702, 156367474, 102327330, 2303751422, 922728168, 104901300]
전라북도 고객호수 평균:  [10913, 23891, 15332, 14297, 5127, 9487, 6280, 12369, 29138, 6075, 4940, 47476, 17425, 5641]

### 2. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [89]:
Hap = df_4.copy()
Hap.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
Hap

C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\895775541.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
0          202107  전라북도  고창군   합계  61,417   49,699,086
1          202108  전라북도  고창군   합계  61,510   57,037,069
2          202109  전라북도  고창군   합계  61,642   57,983,507
3          202110  전라북도  고창군   합계  61,763   43,130,634
4          202111  전라북도  고창군   합계  65,116   56,029,306
..            ...   ...  ...  ...      ...          ...
93  202107-202112  전라북도  임실군   합계     6075    156367474
94  202107-202112  전라북도  장수군   합계     4940    102327330
95  202107-202112  전라북도  전주시   합계    47476   2303751422
96  202107-202112  전라북도  정읍시   합계    17425    922728168
97  202107-202112  전라북도  진안군   합계     5641    104901300

[98 rows x 6 columns]

### 3. 날짜 변경!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [90]:
Hap = Hap.loc[Hap['년월'] == '202107-202112']
Hap

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  202107-202112  전라북도  고창군   합계   10913   337445269
85  202107-202112  전라북도  군산시   합계   23891  3008757243
86  202107-202112  전라북도  김제시   합계   15332   560730330
87  202107-202112  전라북도  남원시   합계   14297   329096395
88  202107-202112  전라북도  무주군   합계    5127   104859542
89  202107-202112  전라북도  부안군   합계    9487   253834365
90  202107-202112  전라북도  순창군   합계    6280   142831569
91  202107-202112  전라북도  완주군   합계   12369   898132009
92  202107-202112  전라북도  익산시   합계   29138  1571959702
93  202107-202112  전라북도  임실군   합계    6075   156367474
94  202107-202112  전라북도  장수군   합계    4940   102327330
95  202107-202112  전라북도  전주시   합계   47476  2303751422
96  202107-202112  전라북도  정읍시   합계   17425   922728168
97  202107-202112  전라북도  진안군   합계    5641   104901300

In [91]:
# SIGUNGU = SIGUNGU[:1]
# SIGUNGU
#for i in SIGUNGU:
#print('{}'.format(i))
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [92]:
a = (df_3.columns).tolist()

a

['년월', '시구', '시군구', '계약구분', '고객호수(호)', '사용량(kWh)']

In [93]:
df_3

         년월    시구  시군구 계약구분 고객호수(호)     사용량(kWh)
53   202107  전라북도  고창군  일반용  4,910    9,316,978
165  202108  전라북도  고창군  일반용  4,907   11,153,873
277  202109  전라북도  고창군  일반용  4,917   14,803,104
389  202110  전라북도  고창군  일반용  4,916    3,624,656
501  202111  전라북도  고창군  일반용  4,937    8,944,086
..      ...   ...  ...  ...     ...          ...
269  202108  전라북도  진안군  일반용  2,242    4,108,600
381  202109  전라북도  진안군  일반용  2,247    3,659,896
493  202110  전라북도  진안군  일반용  2,239    3,426,157
605  202111  전라북도  진안군  일반용  2,239    3,998,053
717  202112  전라북도  진안군  일반용  2,251    4,597,606

[84 rows x 6 columns]

In [94]:
# GyeonGiHap = pd.DataFrame([] , columns = a)
# GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{가평군}')]
# GyeonGiHap

In [95]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_3['고객호수(호)'].loc[(df_3['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//6) #6개월 치로 나눠야하나?!




print("{} 지역별 일반용 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)
# GyeonGiHap['합계'] = sum
#
# GyeonGiHap

[9316978, 11153873, 14803104, 3624656, 8944086, 9861096]
[54190908, 63157809, 54873292, 48248551, 46797790, 52983573]
[14034497, 16507418, 14514036, 13006023, 13268095, 14634790]
[13357800, 15786693, 13836372, 12333206, 13233340, 15180754]
[5567642, 6447512, 5604927, 5355168, 6536637, 10488122]
[11223145, 13709750, 11702949, 10180300, 10376002, 11708803]
[3804638, 4318826, 3776106, 3383345, 3915789, 4515098]
[22678689, 25254996, 21772794, 19244002, 19876931, 22889293]
[45248351, 53455375, 45743269, 39588893, 39074464, 44417245]
[4745724, 5357132, 4651122, 4285889, 4798134, 5737805]
[2914996, 3333443, 2902898, 2732192, 3233585, 3827621]
[121553319, 139240010, 119311527, 103920283, 102116537, 115688555]
[17188561, 20034032, 17397493, 15510262, 16041648, 18087940]
[3535095, 4108600, 3659896, 3426157, 3998053, 4597606]
전라북도 지역별 일반용 합계 :  [57703793, 320251923, 85964859, 83728165, 40000008, 68900949, 23713802, 131716705, 267527597, 29575806, 18944735, 701830231, 104259936, 23325407]
전라북도 고객호수 평균:  [4923, 21216, 6889, 7803, 2835, 5838, 2387, 7931, 21097, 2413, 1869, 49115, 9591, 2245]

In [96]:
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [97]:
# GyeonGiHap = df_3.copy()
# GyeonGiHap.reset_index(drop=True , inplace = True)
# GyeonGiHap.append({'년월' : '202107-202112'  , '시구' : '경기도' , '시군구' : '가평군' , '계약구분' : '일반용' , '사용량(kWh)' : sum}, ignore_index=True)

In [98]:
# a=[]
# for i in SIGUNGU:
#     a.append(i)
#
# print(a)

### 4. 년월 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [99]:
GyeonGiHap2 = df_3.copy()
GyeonGiHap2.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
GyeonGiHap2

C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_12104\2943201010.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202107-202112'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분 고객호수(호)     사용량(kWh)
0          202107  전라북도  고창군  일반용  4,910    9,316,978
1          202108  전라북도  고창군  일반용  4,907   11,153,873
2          202109  전라북도  고창군  일반용  4,917   14,803,104
3          202110  전라북도  고창군  일반용  4,916    3,624,656
4          202111  전라북도  고창군  일반용  4,937    8,944,086
..            ...   ...  ...  ...     ...          ...
93  202107-202112  전라북도  임실군  일반용    2413     29575806
94  202107-202112  전라북도  장수군  일반용    1869     18944735
95  202107-202112  전라북도  전주시  일반용   49115    701830231
96  202107-202112  전라북도  정읍시  일반용    9591    104259936
97  202107-202112  전라북도  진안군  일반용    2245     23325407

[98 rows x 6 columns]

### 5. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [100]:
GyeonGiHap2 = GyeonGiHap2.loc[GyeonGiHap2['년월'] == '202107-202112']
GyeonGiHap2

               년월    시구  시군구 계약구분 고객호수(호)   사용량(kWh)
84  202107-202112  전라북도  고창군  일반용    4923   57703793
85  202107-202112  전라북도  군산시  일반용   21216  320251923
86  202107-202112  전라북도  김제시  일반용    6889   85964859
87  202107-202112  전라북도  남원시  일반용    7803   83728165
88  202107-202112  전라북도  무주군  일반용    2835   40000008
89  202107-202112  전라북도  부안군  일반용    5838   68900949
90  202107-202112  전라북도  순창군  일반용    2387   23713802
91  202107-202112  전라북도  완주군  일반용    7931  131716705
92  202107-202112  전라북도  익산시  일반용   21097  267527597
93  202107-202112  전라북도  임실군  일반용    2413   29575806
94  202107-202112  전라북도  장수군  일반용    1869   18944735
95  202107-202112  전라북도  전주시  일반용   49115  701830231
96  202107-202112  전라북도  정읍시  일반용    9591  104259936
97  202107-202112  전라북도  진안군  일반용    2245   23325407

In [101]:
Final = pd.concat([GyeonGiHap2 , Hap])
Final = Final.sort_values('시군구')
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  202107-202112  전라북도  고창군  일반용    4923    57703793
84  202107-202112  전라북도  고창군   합계   10913   337445269
85  202107-202112  전라북도  군산시  일반용   21216   320251923
85  202107-202112  전라북도  군산시   합계   23891  3008757243
86  202107-202112  전라북도  김제시  일반용    6889    85964859
86  202107-202112  전라북도  김제시   합계   15332   560730330
87  202107-202112  전라북도  남원시  일반용    7803    83728165
87  202107-202112  전라북도  남원시   합계   14297   329096395
88  202107-202112  전라북도  무주군  일반용    2835    40000008
88  202107-202112  전라북도  무주군   합계    5127   104859542
89  202107-202112  전라북도  부안군  일반용    5838    68900949
89  202107-202112  전라북도  부안군   합계    9487   253834365
90  202107-202112  전라북도  순창군  일반용    2387    23713802
90  202107-202112  전라북도  순창군   합계    6280   142831569
91  202107-202112  전라북도  완주군   합계   12369   898132009
91  202107-202112  전라북도  완주군  일반용    7931   131716705
92  202107-202112  전라북도  익산시  일반용   21097   267527597
92  202107-202112  전라북도  익산시   합계   29138  1571959702
93  202107-202112  전라북도  임실군   합계    6075   156367474
93  202107-202112  전라북도  임실군  일반용    2413    29575806
94  202107-202112  전라북도  장수군   합계    4940   102327330
94  202107-202112  전라북도  장수군  일반용    1869    18944735
95  202107-202112  전라북도  전주시   합계   47476  2303751422
95  202107-202112  전라북도  전주시  일반용   49115   701830231
96  202107-202112  전라북도  정읍시   합계   17425   922728168
96  202107-202112  전라북도  정읍시  일반용    9591   104259936
97  202107-202112  전라북도  진안군  일반용    2245    23325407
97  202107-202112  전라북도  진안군   합계    5641   104901300

In [102]:
# Final['일반용 전기의 비율'] = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']) // (Final['사용량(kWh)'].loc[Final['계약구분'] == '합계'])
# Final
ex = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']).tolist()


ex

[57703793,
 320251923,
 85964859,
 83728165,
 40000008,
 68900949,
 23713802,
 131716705,
 267527597,
 29575806,
 18944735,
 701830231,
 104259936,
 23325407]

In [103]:
ex_2 =(Final['사용량(kWh)'].loc[Final['계약구분'] == '합계']).tolist()
ex_2

[337445269,
 3008757243,
 560730330,
 329096395,
 104859542,
 253834365,
 142831569,
 898132009,
 1571959702,
 156367474,
 102327330,
 2303751422,
 922728168,
 104901300]

In [104]:
Rate = []
ilban = []
rae = 0
for i in range(len(ex)):
    rae = round(ex[i] / ex_2[i] *100 ,2)
    Rate.append(rae)
print(Rate)

[17.1, 10.64, 15.33, 25.44, 38.15, 27.14, 16.6, 14.67, 17.02, 18.91, 18.51, 30.46, 11.3, 22.24]

In [105]:
Rate3 = pd.Series(Rate)
Rate3

# Final = pd.concat([Final , Rate3])
# Final

0    17
1    11
2    15
3    25
4    38
5    27
6    17
7    15
8    17
9    19
10   19
11   30
12   11
13   22
dtype: float64

In [106]:
for j in range(len(Rate)):
    ilban.append('일반용')
#print(Rate)

Rate2 = pd.DataFrame()
Rate2['시군구'] = pd.DataFrame(SIGUNGU)
Rate2['계약구분'] = pd.DataFrame(ilban)
Rate2['비율'] = pd.DataFrame(Rate)
Rate2
#print(Rate2.dtypes)

    시군구 계약구분  비율
0   고창군  일반용  17
1   군산시  일반용  11
2   김제시  일반용  15
3   남원시  일반용  25
4   무주군  일반용  38
5   부안군  일반용  27
6   순창군  일반용  17
7   완주군  일반용  15
8   익산시  일반용  17
9   임실군  일반용  19
10  장수군  일반용  19
11  전주시  일반용  30
12  정읍시  일반용  11
13  진안군  일반용  22

In [107]:
Final = pd.merge(Final , Rate2, on=['시군구', '계약구분'] , how='left')

#Final.drop(['비율_y]' , axis = 1 , inplace = True)
#Final.rename(columns={'비율_y':'전체 계약종별 전력사용량 대비 일반용 사용량 비율'})
Final = Final.sort_values(['시군구' , '계약구분'])
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)  비율
0   202107-202112  전라북도  고창군  일반용    4923    57703793  17
1   202107-202112  전라북도  고창군   합계   10913   337445269 NaN
2   202107-202112  전라북도  군산시  일반용   21216   320251923  11
3   202107-202112  전라북도  군산시   합계   23891  3008757243 NaN
4   202107-202112  전라북도  김제시  일반용    6889    85964859  15
5   202107-202112  전라북도  김제시   합계   15332   560730330 NaN
6   202107-202112  전라북도  남원시  일반용    7803    83728165  25
7   202107-202112  전라북도  남원시   합계   14297   329096395 NaN
8   202107-202112  전라북도  무주군  일반용    2835    40000008  38
9   202107-202112  전라북도  무주군   합계    5127   104859542 NaN
10  202107-202112  전라북도  부안군  일반용    5838    68900949  27
11  202107-202112  전라북도  부안군   합계    9487   253834365 NaN
12  202107-202112  전라북도  순창군  일반용    2387    23713802  17
13  202107-202112  전라북도  순창군   합계    6280   142831569 NaN
15  202107-202112  전라북도  완주군  일반용    7931   131716705  15
14  202107-202112  전라북도  완주군   합계   12369   898132009 NaN
16  202107-202112  전라북도  익산시  일반용   21097   267527597  17
17  202107-202112  전라북도  익산시   합계   29138  1571959702 NaN
19  202107-202112  전라북도  임실군  일반용    2413    29575806  19
18  202107-202112  전라북도  임실군   합계    6075   156367474 NaN
21  202107-202112  전라북도  장수군  일반용    1869    18944735  19
20  202107-202112  전라북도  장수군   합계    4940   102327330 NaN
23  202107-202112  전라북도  전주시  일반용   49115   701830231  30
22  202107-202112  전라북도  전주시   합계   47476  2303751422 NaN
25  202107-202112  전라북도  정읍시  일반용    9591   104259936  11
24  202107-202112  전라북도  정읍시   합계   17425   922728168 NaN
26  202107-202112  전라북도  진안군  일반용    2245    23325407  22
27  202107-202112  전라북도  진안군   합계    5641   104901300 NaN

In [108]:
# Final['일반용 전기의 비율'] = Final.append(Rate)
# Final

### 6. 날짜 체크!!!!!!!!!!!!!!!!!!!!1

In [109]:
Final.to_csv("{}_일반용_전력사용량_2107-12.csv".format(City) , mode = 'w' , encoding= 'cp949' , index =False) #파일명 수정

In [107]:
# Sigu = list(set(df_3['시군구'].tolist()))
#
# Sigu.sort()
#
# Sigu

In [108]:
# YearMonth = list(set(df_3['년월'].tolist()))
#
# YearMonth.sort()
# YearMonth

In [109]:
# Gayeak = list(set(df_3['계약구분'].tolist()))
#
# Gayeak.sort()
# Gayeak

In [110]:
# SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
# SEOUL.drop(['고객호수(호)' ,'전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
# #SEOUL.dtypes(['사용량(kWh)'])
# SEOUL

In [111]:
#SEOUL.to_csv("서울특별시_일반용_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [112]:
# print(SEOUL.dtypes)
# SEOUL = SEOUL.astype({'사용량(kWh)' : 'float'})

In [113]:
# SEOUL

In [114]:
# a = SEOUL['사용량(kWh)'].tolist()
# int_list = map(int, a)
# b=0
# for i in int_list:
#     b+=i
#
# print(b)