In [24]:
import pandas as pd
import re

pd.options.display.float_format = '{:.0f}'.format

### 1. 꼭 read_csv 21상반기, 19하반기와 같이 맞추어 주세요!!! 또한 지역(전라북도, 남도) 맞추기!!!!!

In [29]:
df = pd.read_csv('전라북도_계약종별_전력사용량_월별_21상반기_2.csv' , encoding='cp949')

df
#exchng=  pd.read_csv('지역별_전력거래량_20220803093050.csv' , encoding='cp949')

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"시도 : 전라북도, 시군구 : 전체(시 / 군 / 구)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기간 : 2021년 01 월 ~ 2021년 06월,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,202101,전라북도,전체(시 / 군 / 구),주택용,"679,034","245,214,143","28,181,639,636",114.9
4,202101,전라북도,전체(시 / 군 / 구),일반용,"144,604","374,566,781","48,848,634,242",130.4
...,...,...,...,...,...,...,...,...
715,202106,전라북도,진안군,산업용,980,"2,890,375","394,630,916",136.5
716,202106,전라북도,진안군,심 야,"1,734","1,050,604","55,960,210",53.3
717,202106,전라북도,진안군,일반용,"2,253","3,346,227","472,066,455",141.1
718,202106,전라북도,진안군,주택용,"15,317","2,323,904","263,668,531",113.5
719,202106,전라북도,진안군,합계,"32,997","14,592,377","1,508,040,095",103.3

In [30]:
df = df.drop([0,1 , 46] , axis = 0)
#0,1 , 10은 지우는게 맞다
df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,202101,전라북도,전체(시 / 군 / 구),주택용,"679,034","245,214,143","28,181,639,636",114.9
4,202101,전라북도,전체(시 / 군 / 구),일반용,"144,604","374,566,781","48,848,634,242",130.4
5,202101,전라북도,전체(시 / 군 / 구),교육용,"1,233","43,552,607","4,230,595,047",97.1
6,202101,전라북도,전체(시 / 군 / 구),산업용,"16,103","1,009,741,345","111,884,234,197",110.8
...,...,...,...,...,...,...,...,...
715,202106,전라북도,진안군,산업용,980,"2,890,375","394,630,916",136.5
716,202106,전라북도,진안군,심 야,"1,734","1,050,604","55,960,210",53.3
717,202106,전라북도,진안군,일반용,"2,253","3,346,227","472,066,455",141.1
718,202106,전라북도,진안군,주택용,"15,317","2,323,904","263,668,531",113.5
719,202106,전라북도,진안군,합계,"32,997","14,592,377","1,508,040,095",103.3

In [31]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [32]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,202101,전라북도,전체(시 / 군 / 구),주택용,"679,034","245,214,143","28,181,639,636",114.9
4,202101,전라북도,전체(시 / 군 / 구),일반용,"144,604","374,566,781","48,848,634,242",130.4
5,202101,전라북도,전체(시 / 군 / 구),교육용,"1,233","43,552,607","4,230,595,047",97.1
6,202101,전라북도,전체(시 / 군 / 구),산업용,"16,103","1,009,741,345","111,884,234,197",110.8
7,202101,전라북도,전체(시 / 군 / 구),농사용,"160,171","182,383,879","8,227,547,806",45.1
...,...,...,...,...,...,...,...,...
715,202106,전라북도,진안군,산업용,980,"2,890,375","394,630,916",136.5
716,202106,전라북도,진안군,심 야,"1,734","1,050,604","55,960,210",53.3
717,202106,전라북도,진안군,일반용,"2,253","3,346,227","472,066,455",141.1
718,202106,전라북도,진안군,주택용,"15,317","2,323,904","263,668,531",113.5
719,202106,전라북도,진안군,합계,"32,997","14,592,377","1,508,040,095",103.3

In [33]:
df_2 = df.loc[:45]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,202101,전라북도,전체(시 / 군 / 구),주택용,"679,034","245,214,143","28,181,639,636",114.9
4,202101,전라북도,전체(시 / 군 / 구),일반용,"144,604","374,566,781","48,848,634,242",130.4
5,202101,전라북도,전체(시 / 군 / 구),교육용,"1,233","43,552,607","4,230,595,047",97.1
6,202101,전라북도,전체(시 / 군 / 구),산업용,"16,103","1,009,741,345","111,884,234,197",110.8
7,202101,전라북도,전체(시 / 군 / 구),농사용,"160,171","182,383,879","8,227,547,806",45.1
8,202101,전라북도,전체(시 / 군 / 구),가로등,"163,425","18,945,180","1,959,953,917",103.5
9,202101,전라북도,전체(시 / 군 / 구),심 야,"58,839","122,732,449","8,761,213,188",71.4
10,202102,전라북도,전체(시 / 군 / 구),주택용,"679,713","237,460,081","26,784,127,041",112.8
11,202102,전라북도,전체(시 / 군 / 구),일반용,"144,640","354,597,612","47,062,726,231",132.7
12,202102,전라북도,전체(시 / 군 / 구),교육용,"1,234","36,478,108","3,754,074,533",102.9
13,202102,전라북도,전체(시 / 군 / 구),산업용,"16,128","892,887,812","100,838,256,511",112.9
14,202102,전라북도,전체(시 / 군 / 구),농사용,"160,168","174,052,380","7,932,693,679",45.6
15,202102,전라북도,전체(시 / 군 / 구),가로등,"157,817","17,616,571","1,900,656,166",107.9
16,202102,전라북도,전체(시 / 군 / 구),심 야,"58,705","117,141,703","8,377,643,330",71.5
17,202103,전라북도,전체(시 / 군 / 구),주택용,"680,394","202,960,726","20,569,961,584",101.3
18,202103,전라북도,전체(시 / 군 / 구),일반용,"144,584","295,152,001","37,609,592,138",127.4
19,202103,전라북도,전체(시 / 군 / 구),교육용,"1,235","33,081,583","3,282,795,180",99.2
20,202103,전라북도,전체(시 / 군 / 구),산업용,"16,165","987,116,910","90,238,192,358",91.4
21,202103,전라북도,전체(시 / 군 / 구),농사용,"233,397","148,142,708","6,876,502,172",46.4
22,202103,전라북도,전체(시 / 군 / 구),가로등,"158,024","16,724,118","1,812,998,150",108.4
23,202103,전라북도,전체(시 / 군 / 구),심 야,"58,506","87,974,693","5,565,666,733",63.3
24,202104,전라북도,전체(시 / 군 / 구),주택용,"681,158","210,566,303","22,369,266,188",106.2
25,202104,전라북도,전체(시 / 군 / 구),일반용,"144,651","282,113,575","33,152,767,702",117.5
26,202104,전라북도,전체(시 / 군 / 구),교육용,"1,232","29,674,797","2,654,063,546",89.4
27,202104,전라북도,전체(시 / 군 / 구),산업용,"16,199","980,262,579","88,843,308,616",90.6
28,202104,전라북도,전체(시 / 군 / 구),농사용,"199,824","138,530,005","6,446,288,116",46.5
29,202104,전라북도,전체(시 / 군 / 구),가로등,"158,351","16,550,757","1,877,329,247",113.4
30,202104,전라북도,전체(시 / 군 / 구),심 야,"58,322","67,773,469","3,466,583,481",51.1
31,202105,전라북도,전체(시 / 군 / 구),주택용,"681,770","197,170,860","20,144,024,815",102.2
32,202105,전라북도,전체(시 / 군 / 구),일반용,"144,804","263,078,054","31,808,039,746",120.9
33,202105,전라북도,전체(시 / 군 / 구),교육용,"1,230","23,199,242","2,136,267,857",92.1
34,202105,전라북도,전체(시 / 군 / 구),산업용,"16,249","995,401,931","88,059,266,260",88.5
35,202105,전라북도,전체(시 / 군 / 구),농사용,"162,907","129,389,401","5,943,400,458",45.9
36,202105,전라북도,전체(시 / 군 / 구),가로등,"158,615","15,564,096","1,827,095,384",117.4
37,202105,전라북도,전체(시 / 군 / 구),심 야,"58,028","43,887,494","2,264,268,278",51.6
38,202106,전라북도,전체(시 / 군 / 구),주택용,"682,316","201,734,506","20,640,367,176",102.3
39,202106,전라북도,전체(시 / 군 / 구),일반용,"145,003","288,080,741","39,026,757,436",135.5
40,202106,전라북도,전체(시 / 군 / 구),교육용,"1,229","25,801,986","2,890,046,539",112.0
41,202106,전라북도,전체(시 / 군 / 구),산업용,"16,259","995,239,327","113,615,315,812",114.2
42,202106,전라북도,전체(시 / 군 / 구),농사용,"163,759","143,228,837","6,279,456,529",43.8
43,202106,전라북도,전체(시 / 군 / 구),가로등,"158,949","14,870,959","1,812,613,795",121.9
44,202106,전라북도,전체(시 / 군 / 구),심 야,"57,795","28,496,266","1,510,679,709",53.0
45,합계,합계,합계,합계,"7,442,769","10,689,138,575","1,071,466,910,529",100.2

In [34]:
GyeonGi  = df_2.loc[(df_2['계약구분'] == '일반용')]
#SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
GyeonGi

C:\Users\user\AppData\Local\Temp\ipykernel_3380\3551721261.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

        년월    시구 계약구분   고객호수(호)      사용량(kWh)
4   202101  전라북도  일반용  144,604   374,566,781
11  202102  전라북도  일반용  144,640   354,597,612
18  202103  전라북도  일반용  144,584   295,152,001
25  202104  전라북도  일반용  144,651   282,113,575
32  202105  전라북도  일반용  144,804   263,078,054
39  202106  전라북도  일반용  145,003   288,080,741

In [35]:
#SEOUL1.to_csv("서울특별시_계약종별_전국_전력사용량_2022.csv" , mode = 'w' , encoding= 'cp949')

In [36]:
#df_2.to_csv("서울특별시_계약종별_전국_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [37]:
df_3 = df.loc[48:]
df_3 = df_3.loc[(df_3['계약구분'] == '일반용')]
df_3 = df_3.sort_values(by=['시군구' , '년월'])
df_3.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_3

         년월    시구  시군구 계약구분 고객호수(호)     사용량(kWh)
53   202101  전라북도  고창군  일반용  4,877   11,195,564
165  202102  전라북도  고창군  일반용  4,891   10,723,181
277  202103  전라북도  고창군  일반용  4,876    8,947,866
389  202104  전라북도  고창군  일반용  4,872    8,683,176
501  202105  전라북도  고창군  일반용  4,892    7,991,671
..      ...   ...  ...  ...     ...          ...
269  202102  전라북도  진안군  일반용  2,275    4,928,993
381  202103  전라북도  진안군  일반용  2,263    4,043,514
493  202104  전라북도  진안군  일반용  2,259    3,738,366
605  202105  전라북도  진안군  일반용  2,257    3,355,321
717  202106  전라북도  진안군  일반용  2,253    3,346,227

[84 rows x 6 columns]

In [38]:
a = df_3.loc[: , "시구"]
b = a[:1].tolist()
for i in b:
    City = i
City

'전라북도'

In [39]:

SIGUNGU = list(set(df_3.loc[: , '시군구'].tolist()))
SIGUNGU.sort()
SIGUNGU

['고창군',
 '군산시',
 '김제시',
 '남원시',
 '무주군',
 '부안군',
 '순창군',
 '완주군',
 '익산시',
 '임실군',
 '장수군',
 '전주시',
 '정읍시',
 '진안군']

In [40]:
df_4 = df.loc[48:]
df_4 = df_4.loc[(df_4['계약구분'] == '합계')]
df_4 = df_4.sort_values(by=['시군구' , '년월'])
df_4.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_4

         년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
55   202101  전라북도  고창군   합계  60,460   65,346,944
167  202102  전라북도  고창군   합계  60,531   62,147,774
279  202103  전라북도  고창군   합계  63,806   54,320,460
391  202104  전라북도  고창군   합계  80,256   53,667,700
503  202105  전라북도  고창군   합계  61,087   48,336,202
..      ...   ...  ...  ...      ...          ...
271  202102  전라북도  진안군   합계  32,715   22,347,363
383  202103  전라북도  진안군   합계  35,064   18,832,437
495  202104  전라북도  진안군   합계  32,802   17,392,427
607  202105  전라북도  진안군   합계  32,878   15,166,124
719  202106  전라북도  진안군   합계  32,997   14,592,377

[84 rows x 6 columns]

In [41]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_4['사용량(kWh)'].loc[(df_4['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_4['고객호수(호)'].loc[(df_4['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//36) #6개월 치로 나눠야하나?!




print("{} 지역별 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)

[65346944, 62147774, 54320460, 53667700, 48336202, 48095137]
[535478668, 475380381, 504191384, 498422114, 504735650, 497096509]
[111750065, 102859381, 94411407, 91768465, 83009639, 84610327]
[61856991, 59037131, 52210731, 52819910, 47784955, 49086401]
[25504469, 22335399, 18087553, 16372089, 14871837, 14748014]
[48380523, 46278995, 40812051, 39340299, 34752082, 36660934]
[25589218, 24235118, 21983680, 21019449, 20099926, 21041730]
[165853395, 150895814, 150325509, 144377732, 137684547, 144288784]
[291132385, 270925378, 257440091, 250386604, 239864552, 250144768]
[31660597, 30037850, 26169573, 24503888, 22363281, 22844239]
[27164211, 25203097, 20237130, 18302118, 15120379, 13999445]
[422449818, 387017077, 366504142, 355404380, 342557009, 356246382]
[161641565, 151533509, 145626591, 141694310, 141344895, 143997575]
[23327535, 22347363, 18832437, 17392427, 15166124, 14592377]
전라북도 지역별 합계 :  [331914217, 3015304706, 568409284, 322796119, 111919361, 246224884, 133969121, 893425781, 1559893778, 157579428, 120026380, 2230178808, 885838445, 111658263]
전라북도 고객호수 평균:  [10763, 23751, 15365, 14161, 5044, 9383, 6200, 12180, 29029, 5961, 4842, 47310, 17219, 5531]

### 2. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [42]:
Hap = df_4.copy()
Hap.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
Hap

C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1481603074.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Hap = Hap.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '합계' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분  고객호수(호)     사용량(kWh)
0          202101  전라북도  고창군   합계  60,460   65,346,944
1          202102  전라북도  고창군   합계  60,531   62,147,774
2          202103  전라북도  고창군   합계  63,806   54,320,460
3          202104  전라북도  고창군   합계  80,256   53,667,700
4          202105  전라북도  고창군   합계  61,087   48,336,202
..            ...   ...  ...  ...      ...          ...
93  202101-202106  전라북도  임실군   합계     5961    157579428
94  202101-202106  전라북도  장수군   합계     4842    120026380
95  202101-202106  전라북도  전주시   합계    47310   2230178808
96  202101-202106  전라북도  정읍시   합계    17219    885838445
97  202101-202106  전라북도  진안군   합계     5531    111658263

[98 rows x 6 columns]

### 3. 날짜 변경!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [43]:
Hap = Hap.loc[Hap['년월'] == '202101-202106']
Hap

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  202101-202106  전라북도  고창군   합계   10763   331914217
85  202101-202106  전라북도  군산시   합계   23751  3015304706
86  202101-202106  전라북도  김제시   합계   15365   568409284
87  202101-202106  전라북도  남원시   합계   14161   322796119
88  202101-202106  전라북도  무주군   합계    5044   111919361
89  202101-202106  전라북도  부안군   합계    9383   246224884
90  202101-202106  전라북도  순창군   합계    6200   133969121
91  202101-202106  전라북도  완주군   합계   12180   893425781
92  202101-202106  전라북도  익산시   합계   29029  1559893778
93  202101-202106  전라북도  임실군   합계    5961   157579428
94  202101-202106  전라북도  장수군   합계    4842   120026380
95  202101-202106  전라북도  전주시   합계   47310  2230178808
96  202101-202106  전라북도  정읍시   합계   17219   885838445
97  202101-202106  전라북도  진안군   합계    5531   111658263

In [44]:
# SIGUNGU = SIGUNGU[:1]
# SIGUNGU
#for i in SIGUNGU:
#print('{}'.format(i))
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [45]:
a = (df_3.columns).tolist()

a

['년월', '시구', '시군구', '계약구분', '고객호수(호)', '사용량(kWh)']

In [46]:
df_3

         년월    시구  시군구 계약구분 고객호수(호)     사용량(kWh)
53   202101  전라북도  고창군  일반용  4,877   11,195,564
165  202102  전라북도  고창군  일반용  4,891   10,723,181
277  202103  전라북도  고창군  일반용  4,876    8,947,866
389  202104  전라북도  고창군  일반용  4,872    8,683,176
501  202105  전라북도  고창군  일반용  4,892    7,991,671
..      ...   ...  ...  ...     ...          ...
269  202102  전라북도  진안군  일반용  2,275    4,928,993
381  202103  전라북도  진안군  일반용  2,263    4,043,514
493  202104  전라북도  진안군  일반용  2,259    3,738,366
605  202105  전라북도  진안군  일반용  2,257    3,355,321
717  202106  전라북도  진안군  일반용  2,253    3,346,227

[84 rows x 6 columns]

In [47]:
# GyeonGiHap = pd.DataFrame([] , columns = a)
# GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{가평군}')]
# GyeonGiHap

In [48]:
sum2 , sum3 =[] , []
for k in SIGUNGU:
    GyeonGiHap = pd.DataFrame([] , columns = a)
    HOSU = pd.DataFrame([], columns = a)
    GyeonGiHap['사용량']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{}'.format(k))]
    HOSU['고객호수']= df_3['고객호수(호)'].loc[(df_3['시군구'] == '{}'.format(k))]
    #경기합 데이터프레임의 사용량 열에 기군구가 가평군인 사용량 데이터만 뽑아내기
    # GyeonGiHap = GyeonGiHap['사용량']

    b = GyeonGiHap['사용량'].tolist()
    c = HOSU['고객호수'].tolist()


    #각지역별 사용량 리스트화
    int_list  , int_list2=[] , []
    for i in b:
        i = re.sub("," , "" , i)
        #콤마 없애기
        int_list.append(int(i))
        #int_list에 각지역별 사용량 int로 저장
    print(int_list)
    sum=0
    for i in c:
        i = re.sub("," , "" , i)
        int_list2.append(int(i))

    for j in int_list:

        sum+= j
    sum2.append(sum)
    sum = 0
    for j in int_list2: #고객호수 추출하여 더하기

        sum+= j
    sum3.append(sum//6) #6개월 치로 나눠야하나?!




print("{} 지역별 일반용 합계 : ".format(City) , sum2)
print("{} 고객호수 평균: ".format(City) , sum3)
# GyeonGiHap['합계'] = sum
#
# GyeonGiHap

[11195564, 10723181, 8947866, 8683176, 7991671, 8295220]
[59212837, 56650885, 48248423, 46664853, 43177728, 47178520]
[16526110, 15968365, 13250602, 12962364, 11831317, 12503128]
[16930961, 16094619, 13296215, 12618459, 11412856, 11998680]
[11403482, 8849219, 6514904, 5396131, 4976841, 4987285]
[13620107, 13338748, 11133856, 10492565, 9672745, 10021131]
[4863047, 4730499, 3767346, 3543720, 3244919, 3421866]
[24753651, 22893568, 19495046, 18764756, 18011347, 19857901]
[50603255, 48970063, 40112211, 38610665, 35359880, 39121673]
[6334045, 5943349, 4835151, 4403631, 4016516, 4297835]
[4429025, 4119316, 3416653, 3120768, 2750135, 2707025]
[129583316, 122204979, 102216594, 97713818, 93102590, 105104437]
[20090447, 19181828, 15873620, 15400303, 14174188, 15239813]
[5020934, 4928993, 4043514, 3738366, 3355321, 3346227]
전라북도 지역별 일반용 합계 :  [55836678, 301133246, 83041886, 82351790, 42127862, 68279152, 23571397, 123776269, 252777747, 29830527, 20542922, 649925734, 99960199, 24433355]
전라북도 고객호수 평균:  [4886, 20925, 6780, 7697, 2820, 5798, 2380, 7849, 20931, 2396, 1863, 48644, 9476, 2264]

In [49]:
# df_3 = df_3.loc[(df_3['시군구'] == '가평군')]
#
# df_3

In [50]:
# GyeonGiHap = df_3.copy()
# GyeonGiHap.reset_index(drop=True , inplace = True)
# GyeonGiHap.append({'년월' : '202107-202112'  , '시구' : '경기도' , '시군구' : '가평군' , '계약구분' : '일반용' , '사용량(kWh)' : sum}, ignore_index=True)

In [51]:
# a=[]
# for i in SIGUNGU:
#     a.append(i)
#
# print(a)

### 4. 년월 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [52]:
GyeonGiHap2 = df_3.copy()
GyeonGiHap2.reset_index(drop=True , inplace = True)
for i in range(len(SIGUNGU)):
    GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
GyeonGiHap2

C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기
C:\Users\user\AppData\Local\Temp\ipykernel_3380\1152688266.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  GyeonGiHap2 = GyeonGiHap2.append({'년월' :'202101-202106'  , '시구' : '{}'.format(City) , '시군구' : '{}'.format(SIGUNGU[i]) , '계약구분' : '일반용' , '고객호수(호)' : sum3[i] ,  '사용량(kWh)' : sum2[i]} , ignore_index=True) #년월 파일마다 수정하기

               년월    시구  시군구 계약구분 고객호수(호)     사용량(kWh)
0          202101  전라북도  고창군  일반용  4,877   11,195,564
1          202102  전라북도  고창군  일반용  4,891   10,723,181
2          202103  전라북도  고창군  일반용  4,876    8,947,866
3          202104  전라북도  고창군  일반용  4,872    8,683,176
4          202105  전라북도  고창군  일반용  4,892    7,991,671
..            ...   ...  ...  ...     ...          ...
93  202101-202106  전라북도  임실군  일반용    2396     29830527
94  202101-202106  전라북도  장수군  일반용    1863     20542922
95  202101-202106  전라북도  전주시  일반용   48644    649925734
96  202101-202106  전라북도  정읍시  일반용    9476     99960199
97  202101-202106  전라북도  진안군  일반용    2264     24433355

[98 rows x 6 columns]

### 5. 날짜 체크!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [53]:
GyeonGiHap2 = GyeonGiHap2.loc[GyeonGiHap2['년월'] == '202101-202106']
GyeonGiHap2

               년월    시구  시군구 계약구분 고객호수(호)   사용량(kWh)
84  202101-202106  전라북도  고창군  일반용    4886   55836678
85  202101-202106  전라북도  군산시  일반용   20925  301133246
86  202101-202106  전라북도  김제시  일반용    6780   83041886
87  202101-202106  전라북도  남원시  일반용    7697   82351790
88  202101-202106  전라북도  무주군  일반용    2820   42127862
89  202101-202106  전라북도  부안군  일반용    5798   68279152
90  202101-202106  전라북도  순창군  일반용    2380   23571397
91  202101-202106  전라북도  완주군  일반용    7849  123776269
92  202101-202106  전라북도  익산시  일반용   20931  252777747
93  202101-202106  전라북도  임실군  일반용    2396   29830527
94  202101-202106  전라북도  장수군  일반용    1863   20542922
95  202101-202106  전라북도  전주시  일반용   48644  649925734
96  202101-202106  전라북도  정읍시  일반용    9476   99960199
97  202101-202106  전라북도  진안군  일반용    2264   24433355

In [54]:
Final = pd.concat([GyeonGiHap2 , Hap])
Final = Final.sort_values('시군구')
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)
84  202101-202106  전라북도  고창군  일반용    4886    55836678
84  202101-202106  전라북도  고창군   합계   10763   331914217
85  202101-202106  전라북도  군산시  일반용   20925   301133246
85  202101-202106  전라북도  군산시   합계   23751  3015304706
86  202101-202106  전라북도  김제시  일반용    6780    83041886
86  202101-202106  전라북도  김제시   합계   15365   568409284
87  202101-202106  전라북도  남원시  일반용    7697    82351790
87  202101-202106  전라북도  남원시   합계   14161   322796119
88  202101-202106  전라북도  무주군  일반용    2820    42127862
88  202101-202106  전라북도  무주군   합계    5044   111919361
89  202101-202106  전라북도  부안군  일반용    5798    68279152
89  202101-202106  전라북도  부안군   합계    9383   246224884
90  202101-202106  전라북도  순창군  일반용    2380    23571397
90  202101-202106  전라북도  순창군   합계    6200   133969121
91  202101-202106  전라북도  완주군   합계   12180   893425781
91  202101-202106  전라북도  완주군  일반용    7849   123776269
92  202101-202106  전라북도  익산시  일반용   20931   252777747
92  202101-202106  전라북도  익산시   합계   29029  1559893778
93  202101-202106  전라북도  임실군   합계    5961   157579428
93  202101-202106  전라북도  임실군  일반용    2396    29830527
94  202101-202106  전라북도  장수군   합계    4842   120026380
94  202101-202106  전라북도  장수군  일반용    1863    20542922
95  202101-202106  전라북도  전주시   합계   47310  2230178808
95  202101-202106  전라북도  전주시  일반용   48644   649925734
96  202101-202106  전라북도  정읍시   합계   17219   885838445
96  202101-202106  전라북도  정읍시  일반용    9476    99960199
97  202101-202106  전라북도  진안군  일반용    2264    24433355
97  202101-202106  전라북도  진안군   합계    5531   111658263

In [55]:
# Final['일반용 전기의 비율'] = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']) // (Final['사용량(kWh)'].loc[Final['계약구분'] == '합계'])
# Final
ex = (Final['사용량(kWh)'].loc[Final['계약구분'] == '일반용']).tolist()


ex

[55836678,
 301133246,
 83041886,
 82351790,
 42127862,
 68279152,
 23571397,
 123776269,
 252777747,
 29830527,
 20542922,
 649925734,
 99960199,
 24433355]

In [56]:
ex_2 =(Final['사용량(kWh)'].loc[Final['계약구분'] == '합계']).tolist()
ex_2

[331914217,
 3015304706,
 568409284,
 322796119,
 111919361,
 246224884,
 133969121,
 893425781,
 1559893778,
 157579428,
 120026380,
 2230178808,
 885838445,
 111658263]

In [57]:
Rate = []
ilban = []
rae = 0
for i in range(len(ex)):
    rae = round(ex[i] / ex_2[i] *100 ,2)
    Rate.append(rae)
print(Rate)

[16.82, 9.99, 14.61, 25.51, 37.64, 27.73, 17.59, 13.85, 16.2, 18.93, 17.12, 29.14, 11.28, 21.88]

In [58]:
Rate3 = pd.Series(Rate)
Rate3

# Final = pd.concat([Final , Rate3])
# Final

0    17
1    10
2    15
3    26
4    38
5    28
6    18
7    14
8    16
9    19
10   17
11   29
12   11
13   22
dtype: float64

In [59]:
for j in range(len(Rate)):
    ilban.append('일반용')
#print(Rate)

Rate2 = pd.DataFrame()
Rate2['시군구'] = pd.DataFrame(SIGUNGU)
Rate2['계약구분'] = pd.DataFrame(ilban)
Rate2['비율'] = pd.DataFrame(Rate)
Rate2
#print(Rate2.dtypes)

    시군구 계약구분  비율
0   고창군  일반용  17
1   군산시  일반용  10
2   김제시  일반용  15
3   남원시  일반용  26
4   무주군  일반용  38
5   부안군  일반용  28
6   순창군  일반용  18
7   완주군  일반용  14
8   익산시  일반용  16
9   임실군  일반용  19
10  장수군  일반용  17
11  전주시  일반용  29
12  정읍시  일반용  11
13  진안군  일반용  22

In [60]:
Final = pd.merge(Final , Rate2, on=['시군구', '계약구분'] , how='left')

#Final.drop(['비율_y]' , axis = 1 , inplace = True)
#Final.rename(columns={'비율_y':'전체 계약종별 전력사용량 대비 일반용 사용량 비율'})
Final = Final.sort_values(['시군구' , '계약구분'])
Final

               년월    시구  시군구 계약구분 고객호수(호)    사용량(kWh)  비율
0   202101-202106  전라북도  고창군  일반용    4886    55836678  17
1   202101-202106  전라북도  고창군   합계   10763   331914217 NaN
2   202101-202106  전라북도  군산시  일반용   20925   301133246  10
3   202101-202106  전라북도  군산시   합계   23751  3015304706 NaN
4   202101-202106  전라북도  김제시  일반용    6780    83041886  15
5   202101-202106  전라북도  김제시   합계   15365   568409284 NaN
6   202101-202106  전라북도  남원시  일반용    7697    82351790  26
7   202101-202106  전라북도  남원시   합계   14161   322796119 NaN
8   202101-202106  전라북도  무주군  일반용    2820    42127862  38
9   202101-202106  전라북도  무주군   합계    5044   111919361 NaN
10  202101-202106  전라북도  부안군  일반용    5798    68279152  28
11  202101-202106  전라북도  부안군   합계    9383   246224884 NaN
12  202101-202106  전라북도  순창군  일반용    2380    23571397  18
13  202101-202106  전라북도  순창군   합계    6200   133969121 NaN
15  202101-202106  전라북도  완주군  일반용    7849   123776269  14
14  202101-202106  전라북도  완주군   합계   12180   893425781 NaN
16  202101-202106  전라북도  익산시  일반용   20931   252777747  16
17  202101-202106  전라북도  익산시   합계   29029  1559893778 NaN
19  202101-202106  전라북도  임실군  일반용    2396    29830527  19
18  202101-202106  전라북도  임실군   합계    5961   157579428 NaN
21  202101-202106  전라북도  장수군  일반용    1863    20542922  17
20  202101-202106  전라북도  장수군   합계    4842   120026380 NaN
23  202101-202106  전라북도  전주시  일반용   48644   649925734  29
22  202101-202106  전라북도  전주시   합계   47310  2230178808 NaN
25  202101-202106  전라북도  정읍시  일반용    9476    99960199  11
24  202101-202106  전라북도  정읍시   합계   17219   885838445 NaN
26  202101-202106  전라북도  진안군  일반용    2264    24433355  22
27  202101-202106  전라북도  진안군   합계    5531   111658263 NaN

In [61]:
# Final['일반용 전기의 비율'] = Final.append(Rate)
# Final

### 6. 날짜 체크!!!!!!!!!!!!!!!!!!!!1

In [63]:
Final.to_csv("{}_일반용_전력사용량_2101-06.csv".format(City) , mode = 'w' , encoding= 'cp949' , index =False) #파일명 수정

In [107]:
# Sigu = list(set(df_3['시군구'].tolist()))
#
# Sigu.sort()
#
# Sigu

In [108]:
# YearMonth = list(set(df_3['년월'].tolist()))
#
# YearMonth.sort()
# YearMonth

In [109]:
# Gayeak = list(set(df_3['계약구분'].tolist()))
#
# Gayeak.sort()
# Gayeak

In [110]:
# SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
# SEOUL.drop(['고객호수(호)' ,'전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
# #SEOUL.dtypes(['사용량(kWh)'])
# SEOUL

In [111]:
#SEOUL.to_csv("서울특별시_일반용_전력사용량.csv" , mode = 'w' , encoding= 'cp949')

In [112]:
# print(SEOUL.dtypes)
# SEOUL = SEOUL.astype({'사용량(kWh)' : 'float'})

In [113]:
# SEOUL

In [114]:
# a = SEOUL['사용량(kWh)'].tolist()
# int_list = map(int, a)
# b=0
# for i in int_list:
#     b+=i
#
# print(b)