In [27]:
import pandas as pd
import re
import os

print(os.listdir())

pd.options.display.float_format = '{:.0f}'.format

['.ipynb_checkpoints', '강원도_계약종별_전력사용량_월별_12하반기.csv', '강원도_일반용_전력사용량_1207-12.csv', '강원도_일반용_전력사용량_1207-12_월별.csv', '계약종별_전력사용량_강원도_12하반기.ipynb', '계약종별_전력사용량_강원도_12하반기_월별.ipynb']

### 1. 꼭 read_csv 21상반기, 19하반기와 같이 맞추어 주세요!!! 또한 지역(전라북도, 남도) 맞추기!!!!!

In [2]:
df = pd.read_csv('강원도_계약종별_전력사용량_월별_12하반기.csv' , encoding='cp949')

df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"시도 : 강원도, 시군구 : 전체(시 / 군 / 구)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,기간 : 2012년 07 월 ~ 2012년 12월,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201207,강원도,전체(시 / 군 / 구),주택용,"509,066","149,827,131","15,694,515,060",104.8
4,201207,강원도,전체(시 / 군 / 구),일반용,"120,807","291,064,554","34,534,057,270",118.6
...,...,...,...,...,...,...,...,...
907,201212,강원도,횡성군,산업용,513,"12,721,483","1,480,951,824",116.4
908,201212,강원도,횡성군,심 야,"6,613","20,599,599","1,391,628,834",67.6
909,201212,강원도,횡성군,일반용,"4,249","12,840,546","1,523,258,655",118.6
910,201212,강원도,횡성군,주택용,"19,256","3,675,574","-91,878,179",-25
911,201212,강원도,횡성군,합계,"43,348","56,156,308","4,690,939,247",83.5

In [3]:
df = df.drop([0,1 , 46] , axis = 0)
#0,1 , 10은 지우는게 맞다
df

,계약종별 전력사용량 월별( 20220804 현재 ),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201207,강원도,전체(시 / 군 / 구),주택용,"509,066","149,827,131","15,694,515,060",104.8
4,201207,강원도,전체(시 / 군 / 구),일반용,"120,807","291,064,554","34,534,057,270",118.6
5,201207,강원도,전체(시 / 군 / 구),교육용,"1,532","19,147,255","2,278,461,199",119.0
6,201207,강원도,전체(시 / 군 / 구),산업용,"11,454","602,175,744","59,179,825,035",98.3
...,...,...,...,...,...,...,...,...
907,201212,강원도,횡성군,산업용,513,"12,721,483","1,480,951,824",116.4
908,201212,강원도,횡성군,심 야,"6,613","20,599,599","1,391,628,834",67.6
909,201212,강원도,횡성군,일반용,"4,249","12,840,546","1,523,258,655",118.6
910,201212,강원도,횡성군,주택용,"19,256","3,675,574","-91,878,179",-25
911,201212,강원도,횡성군,합계,"43,348","56,156,308","4,690,939,247",83.5

In [4]:
a= df.loc[2].tolist()
a
df = df.drop([2] , axis = 0)

In [5]:
df.columns = a
df

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201207,강원도,전체(시 / 군 / 구),주택용,"509,066","149,827,131","15,694,515,060",104.8
4,201207,강원도,전체(시 / 군 / 구),일반용,"120,807","291,064,554","34,534,057,270",118.6
5,201207,강원도,전체(시 / 군 / 구),교육용,"1,532","19,147,255","2,278,461,199",119.0
6,201207,강원도,전체(시 / 군 / 구),산업용,"11,454","602,175,744","59,179,825,035",98.3
7,201207,강원도,전체(시 / 군 / 구),농사용,"68,541","31,012,645","1,422,250,672",45.9
...,...,...,...,...,...,...,...,...
907,201212,강원도,횡성군,산업용,513,"12,721,483","1,480,951,824",116.4
908,201212,강원도,횡성군,심 야,"6,613","20,599,599","1,391,628,834",67.6
909,201212,강원도,횡성군,일반용,"4,249","12,840,546","1,523,258,655",118.6
910,201212,강원도,횡성군,주택용,"19,256","3,675,574","-91,878,179",-25
911,201212,강원도,횡성군,합계,"43,348","56,156,308","4,690,939,247",83.5

In [6]:
df_2 = df.loc[:45]
df_2

,년월,시구,시군구,계약구분,고객호수(호),사용량(kWh),전기요금(원),평균판매단가(원/kWh)
3,201207,강원도,전체(시 / 군 / 구),주택용,"509,066","149,827,131","15,694,515,060",104.8
4,201207,강원도,전체(시 / 군 / 구),일반용,"120,807","291,064,554","34,534,057,270",118.6
5,201207,강원도,전체(시 / 군 / 구),교육용,"1,532","19,147,255","2,278,461,199",119.0
6,201207,강원도,전체(시 / 군 / 구),산업용,"11,454","602,175,744","59,179,825,035",98.3
7,201207,강원도,전체(시 / 군 / 구),농사용,"68,541","31,012,645","1,422,250,672",45.9
8,201207,강원도,전체(시 / 군 / 구),가로등,"89,527","12,815,369","1,336,885,362",104.3
9,201207,강원도,전체(시 / 군 / 구),심 야,"96,598","51,781,406","2,465,864,062",47.6
10,201208,강원도,전체(시 / 군 / 구),주택용,"509,655","172,152,684","21,283,699,920",123.6
11,201208,강원도,전체(시 / 군 / 구),일반용,"121,633","342,276,473","44,891,553,753",131.2
12,201208,강원도,전체(시 / 군 / 구),교육용,"1,534","19,524,336","2,669,725,714",136.7
13,201208,강원도,전체(시 / 군 / 구),산업용,"11,451","557,897,312","57,623,638,877",103.3
14,201208,강원도,전체(시 / 군 / 구),농사용,"69,459","38,327,346","1,730,706,636",45.2
15,201208,강원도,전체(시 / 군 / 구),가로등,"89,864","13,124,619","1,347,010,198",102.6
16,201208,강원도,전체(시 / 군 / 구),심 야,"96,499","43,953,698","2,147,514,835",48.9
17,201209,강원도,전체(시 / 군 / 구),주택용,"510,728","163,008,945","19,123,143,489",117.3
18,201209,강원도,전체(시 / 군 / 구),일반용,"122,343","293,260,549","35,905,559,848",122.4
19,201209,강원도,전체(시 / 군 / 구),교육용,"1,532","20,028,837","2,465,951,586",123.1
20,201209,강원도,전체(시 / 군 / 구),산업용,"11,488","548,144,972","47,263,051,441",86.2
21,201209,강원도,전체(시 / 군 / 구),농사용,"70,792","44,658,159","2,054,858,780",46.0
22,201209,강원도,전체(시 / 군 / 구),가로등,"90,042","13,283,494","1,377,794,892",103.7
23,201209,강원도,전체(시 / 군 / 구),심 야,"96,460","55,126,357","2,761,779,357",50.1
24,201210,강원도,전체(시 / 군 / 구),주택용,"511,444","151,320,376","16,482,377,692",108.9
25,201210,강원도,전체(시 / 군 / 구),일반용,"123,031","262,559,026","29,116,326,660",110.9
26,201210,강원도,전체(시 / 군 / 구),교육용,"1,527","17,473,563","1,956,838,263",112.0
27,201210,강원도,전체(시 / 군 / 구),산업용,"11,588","581,388,466","48,256,848,625",83.0
28,201210,강원도,전체(시 / 군 / 구),농사용,"71,543","37,955,818","1,809,375,651",47.7
29,201210,강원도,전체(시 / 군 / 구),가로등,"90,270","14,305,726","1,404,050,937",98.1
30,201210,강원도,전체(시 / 군 / 구),심 야,"96,493","95,782,343","4,734,349,600",49.4
31,201211,강원도,전체(시 / 군 / 구),주택용,"511,744","163,840,554","19,795,857,284",120.8
32,201211,강원도,전체(시 / 군 / 구),일반용,"124,044","304,571,969","35,326,255,431",116.0
33,201211,강원도,전체(시 / 군 / 구),교육용,"1,516","23,661,893","2,586,337,671",109.3
34,201211,강원도,전체(시 / 군 / 구),산업용,"11,517","581,731,734","59,750,179,141",102.7
35,201211,강원도,전체(시 / 군 / 구),농사용,"94,039","50,291,792","2,065,724,958",41.1
36,201211,강원도,전체(시 / 군 / 구),가로등,"90,458","15,075,375","1,454,009,108",96.4
37,201211,강원도,전체(시 / 군 / 구),심 야,"96,500","183,236,635","10,464,708,055",57.1
38,201212,강원도,전체(시 / 군 / 구),주택용,"511,654","170,872,431","20,500,261,310",120.0
39,201212,강원도,전체(시 / 군 / 구),일반용,"125,310","371,492,917","44,978,933,203",121.1
40,201212,강원도,전체(시 / 군 / 구),교육용,"1,518","35,866,321","3,885,296,670",108.3
41,201212,강원도,전체(시 / 군 / 구),산업용,"11,540","606,718,083","61,116,263,717",100.7
42,201212,강원도,전체(시 / 군 / 구),농사용,"71,492","38,935,609","1,821,669,835",46.8
43,201212,강원도,전체(시 / 군 / 구),가로등,"90,854","15,430,038","1,456,973,393",94.4
44,201212,강원도,전체(시 / 군 / 구),심 야,"96,538","285,785,855","19,390,015,171",67.8
45,합계,합계,합계,합계,"5,445,625","7,490,888,409","747,910,500,361",99.8

In [7]:
GyeonGi  = df_2.loc[(df_2['계약구분'] == '일반용')]
#SEOUL = df_3.loc[(df_3['계약구분'] =='일반용')]
GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
GyeonGi

C:\Users\user\AppData\Local\Temp\ipykernel_6252\3551721261.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GyeonGi.drop(['시군구' , '전기요금(원)' , '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)

        년월   시구 계약구분   고객호수(호)      사용량(kWh)
4   201207  강원도  일반용  120,807   291,064,554
11  201208  강원도  일반용  121,633   342,276,473
18  201209  강원도  일반용  122,343   293,260,549
25  201210  강원도  일반용  123,031   262,559,026
32  201211  강원도  일반용  124,044   304,571,969
39  201212  강원도  일반용  125,310   371,492,917

In [8]:
df_3 = df.loc[48:]
df_3 = df_3.loc[(df_3['계약구분'] == '일반용')]
df_3 = df_3.sort_values(by=['시군구' , '년월'])
df_3.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_3

         년월   시구  시군구 계약구분  고객호수(호)     사용량(kWh)
53   201207  강원도  강릉시  일반용  16,205   34,530,914
197  201208  강원도  강릉시  일반용  16,272   42,030,483
341  201209  강원도  강릉시  일반용  16,344   36,690,466
485  201210  강원도  강릉시  일반용  16,431   31,690,515
629  201211  강원도  강릉시  일반용  16,539   34,694,500
..      ...  ...  ...  ...      ...          ...
333  201208  강원도  횡성군  일반용   4,060    9,221,624
477  201209  강원도  횡성군  일반용   4,090    7,717,793
621  201210  강원도  횡성군  일반용   4,145    6,965,137
765  201211  강원도  횡성군  일반용   4,198    9,319,054
909  201212  강원도  횡성군  일반용   4,249   12,840,546

[108 rows x 6 columns]

In [9]:
SIGUNGU = list(set(df_3.loc[: , '시군구'].tolist()))
SIGUNGU.sort()
SIGUNGU

['강릉시',
 '고성군',
 '동해시',
 '삼척시',
 '속초시',
 '양구군',
 '양양군',
 '영월군',
 '원주시',
 '인제군',
 '정선군',
 '철원군',
 '춘천시',
 '태백시',
 '평창군',
 '홍천군',
 '화천군',
 '횡성군']

In [10]:
Time = df_3['년월']
Time.reset_index(drop=True , inplace = True)
Time

0      201207
1      201208
2      201209
3      201210
4      201211
        ...
103    201208
104    201209
105    201210
106    201211
107    201212
Name: 년월, Length: 108, dtype: object

In [11]:
a = df_3.loc[: , "시구"]
b = a[:1].tolist()
for i in b:
    City = i
City

'강원도'

In [12]:
df_4 = df.loc[48:]
df_4 = df_4.loc[(df_4['계약구분'] == '합계')]
df_4 = df_4.sort_values(by=['시군구' , '년월'])
df_4.drop(['전기요금(원)',   '평균판매단가(원/kWh)'] , axis = 1 , inplace = True)
df_4

         년월   시구  시군구 계약구분   고객호수(호)      사용량(kWh)
55   201207  강원도  강릉시   합계  116,209   148,585,668
199  201208  강원도  강릉시   합계  116,448   147,674,991
343  201209  강원도  강릉시   합계  116,810   123,176,569
487  201210  강원도  강릉시   합계  117,059   130,906,118
631  201211  강원도  강릉시   합계  117,473   142,826,670
..      ...  ...  ...  ...       ...           ...
335  201208  강원도  횡성군   합계   42,955    33,594,690
479  201209  강원도  횡성군   합계   43,076    31,929,663
623  201210  강원도  횡성군   합계   43,185    33,725,873
767  201211  강원도  횡성군   합계   45,226    46,211,281
911  201212  강원도  횡성군   합계   43,348    56,156,308

[108 rows x 6 columns]

In [13]:
a = (df_3.columns).tolist()

a

['년월', '시구', '시군구', '계약구분', '고객호수(호)', '사용량(kWh)']

In [14]:
df_3

         년월   시구  시군구 계약구분  고객호수(호)     사용량(kWh)
53   201207  강원도  강릉시  일반용  16,205   34,530,914
197  201208  강원도  강릉시  일반용  16,272   42,030,483
341  201209  강원도  강릉시  일반용  16,344   36,690,466
485  201210  강원도  강릉시  일반용  16,431   31,690,515
629  201211  강원도  강릉시  일반용  16,539   34,694,500
..      ...  ...  ...  ...      ...          ...
333  201208  강원도  횡성군  일반용   4,060    9,221,624
477  201209  강원도  횡성군  일반용   4,090    7,717,793
621  201210  강원도  횡성군  일반용   4,145    6,965,137
765  201211  강원도  횡성군  일반용   4,198    9,319,054
909  201212  강원도  횡성군  일반용   4,249   12,840,546

[108 rows x 6 columns]

In [15]:

df_5 = pd.concat([df_4 , df_3])
df_5 = df_5.sort_values(by=['시군구' , '년월' , '계약구분'])
df_5

         년월   시구  시군구 계약구분   고객호수(호)      사용량(kWh)
53   201207  강원도  강릉시  일반용   16,205    34,530,914
55   201207  강원도  강릉시   합계  116,209   148,585,668
197  201208  강원도  강릉시  일반용   16,272    42,030,483
199  201208  강원도  강릉시   합계  116,448   147,674,991
341  201209  강원도  강릉시  일반용   16,344    36,690,466
..      ...  ...  ...  ...       ...           ...
623  201210  강원도  횡성군   합계   43,185    33,725,873
765  201211  강원도  횡성군  일반용    4,198     9,319,054
767  201211  강원도  횡성군   합계   45,226    46,211,281
909  201212  강원도  횡성군  일반용    4,249    12,840,546
911  201212  강원도  횡성군   합계   43,348    56,156,308

[216 rows x 6 columns]

In [16]:
df_3 ##일반용

         년월   시구  시군구 계약구분  고객호수(호)     사용량(kWh)
53   201207  강원도  강릉시  일반용  16,205   34,530,914
197  201208  강원도  강릉시  일반용  16,272   42,030,483
341  201209  강원도  강릉시  일반용  16,344   36,690,466
485  201210  강원도  강릉시  일반용  16,431   31,690,515
629  201211  강원도  강릉시  일반용  16,539   34,694,500
..      ...  ...  ...  ...      ...          ...
333  201208  강원도  횡성군  일반용   4,060    9,221,624
477  201209  강원도  횡성군  일반용   4,090    7,717,793
621  201210  강원도  횡성군  일반용   4,145    6,965,137
765  201211  강원도  횡성군  일반용   4,198    9,319,054
909  201212  강원도  횡성군  일반용   4,249   12,840,546

[108 rows x 6 columns]

In [17]:
df_4 ## 합계

         년월   시구  시군구 계약구분   고객호수(호)      사용량(kWh)
55   201207  강원도  강릉시   합계  116,209   148,585,668
199  201208  강원도  강릉시   합계  116,448   147,674,991
343  201209  강원도  강릉시   합계  116,810   123,176,569
487  201210  강원도  강릉시   합계  117,059   130,906,118
631  201211  강원도  강릉시   합계  117,473   142,826,670
..      ...  ...  ...  ...       ...           ...
335  201208  강원도  횡성군   합계   42,955    33,594,690
479  201209  강원도  횡성군   합계   43,076    31,929,663
623  201210  강원도  횡성군   합계   43,185    33,725,873
767  201211  강원도  횡성군   합계   45,226    46,211,281
911  201212  강원도  횡성군   합계   43,348    56,156,308

[108 rows x 6 columns]

In [18]:
#sum2 , sum3 =[] , []
rate = []
for k in SIGUNGU:
    Hap = pd.DataFrame([] , columns = a)
    Hap2 = pd.DataFrame([] , columns = a)

    Hap['사용량_일반용']= df_3['사용량(kWh)'].loc[(df_3['시군구'] == '{}'.format(k))]
    Hap2['사용량_합계']= df_4['사용량(kWh)'].loc[(df_4['시군구'] == '{}'.format(k))]

    b = Hap['사용량_일반용'].tolist()

    c = Hap2['사용량_합계'].tolist()

    int_list , int_list2 = [] , []
    for i in b:
         i = re.sub("," , "" , i)
         #콤마 없애기
         int_list.append(int(i))

    for i in c:
         i = re.sub("," , "" , i)
         int_list2.append(int(i))



    for i in range(len(int_list)):
        rate2 = 0
        rate2 = int_list[i] / int_list2[i] *100
        rate.append(rate2)
print(rate)

print(len(rate))

#print("{} 지역별 합계 : ".format(City) , sum2)
#print("{} 고객호수 평균: ".format(City) , sum3)

[23.239733996417474, 28.461476594909698, 29.78688747208083, 24.208582061840687, 24.29133158394017, 24.45790410183578, 45.885338997187446, 50.39559318459445, 43.527039679276754, 41.39051879970892, 38.1181915699282, 37.037673434094046, 5.4121304617977035, 7.086342789184408, 6.078413597885862, 5.090492174846313, 5.8283604595371745, 6.469597226309411, 11.162182856064321, 13.488121054266028, 12.154886048658147, 10.414534912484916, 11.795366848226992, 12.306866554059715, 54.634152355529594, 57.80059634784048, 53.2366301951988, 50.919554938609636, 47.646978024732995, 47.50139374155745, 44.268652614725326, 45.887421978255205, 42.59673284160242, 38.53186329545965, 30.89819038692993, 33.18953304314752, 47.50433116337673, 52.2054150573516, 46.630066071376376, 41.08052973701716, 39.88986809268492, 38.842995301960485, 7.487022938878569, 8.776869076350742, 7.432172769141733, 5.985988843461667, 6.189574322219804, 7.1440132019158815, 33.630744056599944, 35.951006572492254, 32.87715877009166, 29.11223028977552, 27.143816437470907, 28.19425500788088, 49.659854193401884, 52.02033247301196, 46.61121664902184, 42.84026523613589, 36.32209690880867, 36.18251266484396, 30.056663227156633, 34.75810039796373, 27.96608964116507, 28.74049418271547, 33.13836648651924, 34.29612809179537, 38.294453371122884, 40.4033799331667, 36.989850638122896, 34.84253305553107, 24.569320284134946, 29.196218723707794, 44.41796786131891, 45.917811215513886, 43.469133930469475, 39.724676567449976, 37.01210163992474, 34.41806837999124, 26.593929591294835, 29.31588537771787, 26.428661747722337, 23.964920861660673, 25.766360927906284, 28.098196813168475, 44.721572887214975, 47.99038073673316, 40.20585493951088, 36.136168012408675, 39.89707152966339, 40.58208816013632, 40.75296836460466, 43.028531698689775, 37.213886755165476, 32.52129668351689, 30.604033826126393, 31.70866791634844, 52.03778757563672, 54.24388690029712, 50.56393031546548, 45.72760960662981, 41.96000947484164, 41.25475897232695, 24.642117586716807, 27.44964754846674, 24.171232248833945, 20.652206690098133, 20.166188424856692, 22.865723295057077]
108

In [19]:
df_5

         년월   시구  시군구 계약구분   고객호수(호)      사용량(kWh)
53   201207  강원도  강릉시  일반용   16,205    34,530,914
55   201207  강원도  강릉시   합계  116,209   148,585,668
197  201208  강원도  강릉시  일반용   16,272    42,030,483
199  201208  강원도  강릉시   합계  116,448   147,674,991
341  201209  강원도  강릉시  일반용   16,344    36,690,466
..      ...  ...  ...  ...       ...           ...
623  201210  강원도  횡성군   합계   43,185    33,725,873
765  201211  강원도  횡성군  일반용    4,198     9,319,054
767  201211  강원도  횡성군   합계   45,226    46,211,281
909  201212  강원도  횡성군  일반용    4,249    12,840,546
911  201212  강원도  횡성군   합계   43,348    56,156,308

[216 rows x 6 columns]

In [20]:
Rate = []
ilban = []
SIGUNGU_2 = df_4['시군구']
SIGUNGU_2.reset_index(drop=True , inplace = True)
SIGUNGU_2
#date = df_5.loc['년월']
#print(date)
# rae = 0
# for i in range(len(ex)):
#     rae = round(ex[i] / ex_2[i] *100 ,2)
#     Rate.append(rae)
# print(Rate)

0      강릉시
1      강릉시
2      강릉시
3      강릉시
4      강릉시
      ...
103    횡성군
104    횡성군
105    횡성군
106    횡성군
107    횡성군
Name: 시군구, Length: 108, dtype: object

In [21]:
Rate3 = pd.DataFrame(rate)
Rate3['비율'] = Rate3.iloc[:]
Rate3.drop(Rate3.columns[0] , axis=1 , inplace=True)
Rate3

     비율
0    23
1    28
2    30
3    24
4    24
..   ..
103  27
104  24
105  21
106  20
107  23

[108 rows x 1 columns]

In [22]:
Time

0      201207
1      201208
2      201209
3      201210
4      201211
        ...
103    201208
104    201209
105    201210
106    201211
107    201212
Name: 년월, Length: 108, dtype: object

In [23]:
for j in range(len(Rate3)):
    ilban.append('일반용')

Rate4 = pd.concat([Time , SIGUNGU_2 , Rate3] ,axis=1)
Rate4['계약구분'] = pd.DataFrame(ilban)
#Rate4 = Rate4.rename(columns={'0':'일반용 비율'})
Rate4 = Rate4[['년월' , '시군구' , '계약구분' , '비율']]
Rate4
# Final = pd.concat([Final , Rate3])
# Final

         년월  시군구 계약구분  비율
0    201207  강릉시  일반용  23
1    201208  강릉시  일반용  28
2    201209  강릉시  일반용  30
3    201210  강릉시  일반용  24
4    201211  강릉시  일반용  24
..      ...  ...  ...  ..
103  201208  횡성군  일반용  27
104  201209  횡성군  일반용  24
105  201210  횡성군  일반용  21
106  201211  횡성군  일반용  20
107  201212  횡성군  일반용  23

[108 rows x 4 columns]

In [24]:
Final = pd.merge(df_5 , Rate4, on=['년월' , '시군구', '계약구분'] , how='left')

#Final.drop(['비율_y]' , axis = 1 , inplace = True)
#Final.rename(columns={'비율_y':'전체 계약종별 전력사용량 대비 일반용 사용량 비율'})
Final = Final.sort_values(['시군구' , '계약구분'])
Final.reset_index(drop=True , inplace = True)
Final

         년월   시구  시군구 계약구분  고객호수(호)     사용량(kWh)  비율
0    201207  강원도  강릉시  일반용  16,205   34,530,914   23
1    201208  강원도  강릉시  일반용  16,272   42,030,483   28
2    201209  강원도  강릉시  일반용  16,344   36,690,466   30
3    201210  강원도  강릉시  일반용  16,431   31,690,515   24
4    201211  강원도  강릉시  일반용  16,539   34,694,500   24
..      ...  ...  ...  ...      ...          ...  ..
211  201208  강원도  횡성군   합계  42,955   33,594,690  NaN
212  201209  강원도  횡성군   합계  43,076   31,929,663  NaN
213  201210  강원도  횡성군   합계  43,185   33,725,873  NaN
214  201211  강원도  횡성군   합계  45,226   46,211,281  NaN
215  201212  강원도  횡성군   합계  43,348   56,156,308  NaN

[216 rows x 7 columns]

### 2. 날짜 체크!!!!!!!!!!!!!!!!!!!!1

In [25]:
Final.to_csv("{}_일반용_전력사용량_1207-12_월별.csv".format(City) , mode = 'w' , encoding= 'cp949' , index =False) #파일명 수정